<div class="sticky-menu__wrapper js-sticky-menu">
  <div class="sticky-menu l-row">
    <div class="sticky-menu__content l-row__inner">
      <div class="sticky-menu__buttons no-display--mob">
        <a href="#" class="btn-invert">Inscription</a>
        <a href="#" class="btn-like--mini"><span class="icon-heart"></span></a>
      </div>
      <img class="sticky-menu__logo" width="30" height="52" src="images/logo-gallery.png" alt="logo gobelins"/>
      <div class="sticky-menu__container js-sticky-menu__container"></div>
    </div>
    <div class="sticky-menu__scroll js-sticky-menu__scroll"></div>
  </div>
</div>