<div class="list-rapid-access l-row">
  <div class="l-row__inner">
    <h2 class="title-h2">Accès rapide</h2>
    <div class="grid-container">
      <div class="grid-3 item-rapid-access">
        <a class="item-rapid-access__img" href="#">
          <img src="images/summer-school.png" class="off"  alt="Summer school" />
          <img src="images/summer-school-on.png" class="on" alt="Summer school" />
        </a>
        <div class="item-rapid-access__description">
          <h3>Summer school</h3>
          <p class="description">Ecole d’Eté Internationale en 2 semaines destinée à un public d’étudiants et de professionnels du monde entier</p>
          <a class="btn-higlight" href="#">Découvrir</a>
        </div>
      </div>
      <div class="grid-3 item-rapid-access">
        <a class="item-rapid-access__img" href="#">
          <img src="images/master-class.png" class="off"  alt="Master class" />
          <img src="images/master-class-on.png" class="on"  alt="Master class" />
        </a>
        <div class="item-rapid-access__description">
          <h3>Master class</h3>
          <p class="description">Des professionnels reconnus de célèbres studios partagent avec vous leur expérience</p>
          <a class="btn-higlight" href="#">Découvrir</a>
        </div>
      </div>
      <div class="grid-3 item-rapid-access">
        <a class="item-rapid-access__img" href="#">
          <img src="images/offer.png" class="off"  alt="Offre sur mesure" />
          <img src="images/offer-on.png" class="on"  alt="Offre sur mesure" />
        </a>
        <div class="item-rapid-access__description">
          <h3>Offre sur mesure</h3>
          <p class="description">Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
          <a class="btn-higlight" href="#">Découvrir</a>
        </div>
      </div>
    </div>
  </div>
</div>