<div class="block-detail-actu l-row">
  <div class="l-row__inner clearfix">
    <p class="block-detail-actu_category-title">Design interactif/web</p>
    <h2 class="title-h2">Rejoignez le Bachelor "Designer et développeur interactif"</h2>
    <figure class="block-detail-actu__media">
      <img src="images/detail-actu.jpg" alt="" />
      <figcaption>Gobelins</figcaption>
    </figure>
    <%= include('widget-shared-icons-v2') %>
    <div class="block-detail-actu__description">
      <p>Avec près de 10 000 emplois proposés au dernier trimestre 2014, mais des entreprises qui peinent à trouver les compétences qu’elles recherchent,
        les métiers du numérique sont marqués par un décalage entre offre et demande, selon le 1er baromètre de Cap Digital.
      </p>
      <p>En phase avec les réalités du marché, GOBELINS propose désormais un cursus sur le modèle LMD et en apprentissage sans frais de scolarité.</p>
      <p>Désormais, les candidats pourront suivre un 1er cycle en un an, un Bachelor « Designer & Développeur interactif » qui offrira la possibilité de poursuivre sur un 2ème cycle « Manageur du design interactif » en 2 ans.
         Objectif de ces 2 cycles supérieurs : former des designers et managers capables d’imaginer et de piloter les innovations digitales de demain, les objets et services du futur.
      </p>
      <figure class="block-detail-actu__media">
        <img src="images/detail-actu.jpg" alt="" />
      </figure>
      <p>Accessible à des Bac +2 dans le domaine de l’informatique (DUT MMI, DUT SRC,…) ou dans la communication visuelle, le Bachelor offre 2 options « Graphisme » ou « développement ».</p>
      <p>GOBELINS est aujourd’hui l’école la plus citée dans les classements par les professionnels du secteur digital. Son secret : l’art de raconter des histoires à travers le graphisme, la scénarisation, le design sonore, le jeu, ou encore le transmedia.</p>
      
      <p>Comme le souligne un article dans l'OBS intitulé "Métiers du web, des emplois à gogo", « les salaires commencent à 30.000-35.000 euros annuels pour un jeune bac+5 tout droit sorti de l’école sur l’ensemble de ces profils, et grimpent très vite à 70.000 euros au bout de quelques années pour les développeurs ».
         Alors rejoignez la communauté du digital…
      </p>
      <p>Clôture des inscriptions le 18 mars 2015.</p>

      <a class="btn-inscription" href="#"> M'inscrire</a>

      <p class="block-detail-actu_category-date">Publié le 11 juin 2015</p>
      
      <a class="icon-left-small block-detail-actu_back-news" href="#"> Retour aux actualités</a>
      
    </div>
    
    
    
  </div>
</div>