<div class="block-contact-training--with-map">
  <div class="infos-contact">
    <figure>
      <img src="images/picture-contact.png" alt="" />
      <figcaption>
        <span class="name">Contactez Lucette Berbinan</span>
        <span class="tel">01 40 79 92 20</span>
      </figcaption>
    </figure>
    <div class="btn-action">
      <a class="btn-mail" href="#">Contactez-nous</a>
      <a class="btn-invert" href="#">Inscription</a>
    </div>
  </div>
  <div class="map-contact">
    <img src=""/>
    <div class="address"></div>
  </div>
</div>