<div class="block-contact-training l-row">
  <div class="l-row__inner">
	<h2 class="title-h2">EN TANT QUE PROFESSIONNEL, <span>VOUS SOUHAITEZ TROUVER LA FORMATION QUI VOUS CONVIENT ?</span></h2>
  <div class="infos-contact">
    <figure>
      <img src="images/picture-contact.png" alt="" />
      <figcaption>
        <span class="name">Contactez Lucette Berbinan</span>
        <span class="tel">01 40 79 92 20</span>
      </figcaption>
    </figure>     
  </div>
	<div class="btn-action">
		<a class="btn-mail" href="#">Contactez-nous</a>
	</div>
  </div>
</div>