<div class="item">
	<p class="new">
		New
	</p>
	<div class="item-slide__image">
		<a href="#">
			<img src="images/img12.jpg" alt="" />
		</a>
	</div>
	<div class="item-slide__description">
		<h3>
			<a href="#">Cinéma 4D</a>
		</h3>
		<p class="calendar">
			<span class="icons-calendar"></span>
			25 jours
		</p>
		<div class="clearfix">
			<a class="btn-like--mini" href="#"><span class="icon-heart"></span></a>
   <a class="btn-higlight" href="#">Découvrir</span></a>
		</div>
	</div>
</div>








