.block-training-results{
  background-color:$color__bg-gray--light;
  .title-h2{
		text-align:left;
		font-size:2rem;
  line-height:normal;
		text-transform:none;
		 @media screen and (min-width: $width__m) {
			margin-left:30%;
		}
	}
 }
