<div class="filter-trainings professionnal">
    
    <form action="action" class="filter-trainings__form">
      <div class="filter-training-field">
        <p class="title">Durée</p>
        <div class="form-item">
          <span class="styled-select">
            <select>
              <option>durée 1</option>
              <option>durée2</option> 
              <option>durée3</option>
            </select>
          </span>
        </div>
      </div>
       <div class="filter-training-field">
        <p class="title">Conditions</p>
        <div class="form-item">
          <input type="radio" name="conditions" id="radio1" /> 
          <label for="radio1">Éligible CPF</label>
        </div>
        <div class="form-item">
          <input type="radio" name="conditions" id="radio2" /> 
          <label for="radio2">Formations AFDAS</label>
        </div>
        <div class="form-item">
          <input type="radio" name="conditions" id="radio3" /> 
          <label for="radio3">Formations diplomantes/certifiantes</label>
        </div>
		<div class="form-item">
          <input type="radio" name="conditions" id="radio4" /> 
          <label for="radio4">Reconversion</label>
        </div>
      </div>
       <div class="filter-training-field">
			<p class="title">Thématiques <span class="close-themes icon-minus"></span></p>
			<div class="form-item">
				<ul class="list-themes">
					<li>
						<input type="checkbox" name="" id="checkbox1" /> 
						<label for="checkbox1">Storyboard</label>
					</li>
					<li>
						<input type="checkbox" name="" id="checkbox2" /> 
						<label for="checkbox2">Lumière</label>
					</li>
					<li>
						<input type="checkbox" name="" id="checkbox3" /> 
						<label for="checkbox3">Captation</label>
					</li>
					<li>
						<input type="checkbox" name="" id="checkbox4" /> 
						<label for="checkbox4">Marionnette</label>
					</li>
					<li>
						<input type="checkbox" name="" id="checkbox5" /> 
						<label for="checkbox5">Décor</label>
					</li>
					
					<li>
						<input type="checkbox" name="" id="checkbox6" /> 
						<label for="checkbox6">Tracking</label>
					</li>
								
					<li>
						<input type="checkbox" name="" id="checkbox7" /> 
						<label for="checkbox7">Expression</label>
					</li>
					
					<li>
						<input type="checkbox" name="" id="checkbox8" /> 
						<label for="checkbox8">Marionnette</label>
					</li>
				
				</ul>

			</div>

		</div>
      <button type="reset" class="btn-remove">Réinitialiser</button>
    </form>

</div>