<div class="filter-trainings professionnal">
    
    <form action="action" class="filter-trainings__form">
      <div class="filter-training-field">
        <p class="title">Durée</p>
        <div class="item-form">
          <span class="styled-select">
            <select>
              <option>durée 1</option>
              <option>durée2</option>
              <option>durée3</option>
            </select>
          </span>
        </div>
      </div>
       <div class="filter-training-field">
        <p class="title">statut</p>
        <div class="item-form">
          <input type="radio" name="statut" id="radio1" /> 
          <label for="radio1">Temps plein</label>
        </div>
        <div class="item-form">
          <input type="radio" name="statut" id="radio2" /> 
          <label for="radio2">Alternance</label>
        </div>
        <div class="item-form">
          <input type="radio" name="statut" id="radio3" /> 
          <label for="radio3">Indifférent</label>
        </div>
      </div>
       <div class="filter-training-field">
        <p class="title">domaines de formation</p>
        <div class="col">
          <div class="item-form">
            <input type="checkbox" name="" id="checkbox1" /> 
            <label for="checkbox1">Toutes les domaines</label>
          </div>
          <div class="item-form">
            <input type="checkbox" name="" id="checkbox2" /> 
            <label for="checkbox2">Design graphique</label>
          </div>
          <div class="item-form">
            <input type="checkbox" name="" id="checkbox3" /> 
            <label for="checkbox3">Design interactif / web</label>
          </div>
        </div>
        <div class="col">
          <div class="item-form">
            <input type="checkbox" name="" id="checkbox4" /> 
            <label for="checkbox4">Cinéma d'animation</label>
          </div>
          <div class="item-form">
            <input type="checkbox" name="" id="checkbox5" /> 
            <label for="checkbox5">Photographie</label>
          </div>
          <div class="item-form">
            <input type="checkbox" name="" id="checkbox6" /> 
            <label for="checkbox6">Communication & Industries graphiques</label>
          </div>
        </div>
        <div class="col">
          <div class="item-form">
            <input type="checkbox" name="" id="checkbox7" /> 
            <label for="checkbox7">Vidéo / Son</label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn-higlight">voir les formations</button>
    </form>

</div>