.block-press-details{
  background-color:$color__bg-gray--light;
  padding:0;
  
  .tabs-accordion{
    padding-right:40px;
    
    @media screen and (max-width: 1140px) {
      float:none;
      width:auto;
      padding-right:0;
    }
  }
  .item-downloads{
    margin-left:70%;
    
    @media screen and (max-width: 1140px) {
      display:none;
    }
  }
  .title-h2{
    text-align:left;
  }
}
