<div class="block-training-gallery l-row">
  <div class="block-gallery__wrapper js-block_gallery js-popin--gallery" data-total-cols="10"  data-col-width="280" data-line-height="210">
  
    <div class="block-gallery__grid js-block_gallery__grid">
      <div class="block-gallery__item js-block_gallery__item" data-width="1" data-height="2" data-col="0" data-line="0"></div>
      
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x420-1.jpg" title="titre image gallery" data-width="1" data-height="2">
        <img src="images/gallery/280x420-1.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--video" href="#js-popin--video-1" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-1.jpg" alt="titre image gallery">
        <span class="icons-btn-play"></span>
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-2.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-2.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/560x420-1.jpg" title="titre image gallery" data-width="2" data-height="2">
        <img src="images/gallery/560x420-1.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-3.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-3.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-4.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-4.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/560x420-2.jpg" title="titre image gallery" data-width="2" data-height="2">
        <img src="images/gallery/560x420-2.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--video" href="#js-popin--video-2" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-5.jpg" alt="titre image gallery">
        <span class="icons-btn-play"></span>
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-6.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-6.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-7.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-7.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-8.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-8.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x420-1.jpg" title="titre image gallery" data-width="1" data-height="2">
        <img src="images/gallery/280x420-1.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/560x420-2.jpg" title="titre image gallery" data-width="2" data-height="2">
        <img src="images/gallery/560x420-2.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-5.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-5.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-6.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-6.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-7.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-7.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-8.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-8.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-1.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-1.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-2.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-2.jpg" alt="titre image gallery">
      </a> <!-- 19 -->
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/560x420-1.jpg" title="titre image gallery" data-width="2" data-height="2">
        <img src="images/gallery/560x420-1.jpg" alt="titre image gallery">
      </a> <!-- 20 -->
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-3.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-3.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-4.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-4.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-5.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-5.jpg" alt="titre image gallery">
      </a>
      <a class="block-gallery__item js-block_gallery__item js-popin--gallery__item" href="images/gallery/280x210-6.jpg" title="titre image gallery" data-width="1" data-height="1">
        <img src="images/gallery/280x210-6.jpg" alt="titre image gallery">
      </a>
    </div>
    
    <div class="block-gallery__item block-gallery__stamp js-block_gallery__stamp" data-width="1" data-height="2" data-col="0" data-line="0">
      <div class="block-gallery__stamp--content">
        <h2>Galerie des travaux</h2>
        <p>Retrouvez la sélection de travaux d'étudiants, découvrez les interviews des élèves, des intervenants et des anciens.</p>
        <a href="#" class="btn-invert">Voir les projets</a>
        <div>
          <span class="js-block_gallery__left icon-left-small btn-round--light"></span>&nbsp;
          <span class="js-block_gallery__right icon-right-small btn-round--light"></span>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="is-hidden">
    <div id="js-popin--video-1">
      <iframe width="1100" height="648" src="https://www.youtube.com/embed/vFART6ZMeEA" frameborder="0" allowfullscreen></iframe>
      <div class="popin--text">
        <h3 class="popin--text-img__title">Storyboarder 1</h3>
        <p>Il crée le storyboard (mise en image du scénario) du film. Le storyboard est une représentation du scénario en une suite d’images dessinées correspondant au découpage plan par plan. Il contient les indications sur les effets optiques, sonores ou spéciaux, les dialogues, les mouvements de caméra, les angles de vue, la numération des plans, le rythme et la durée de l’action.
        Le métier de storyboarder implique une connaissance très fine de tous les aspects </p>
      </div>
      <div class="training-summary__title">
        <p class="training-summary__duration"><span>Cinéma d'animation</span></p>
      </div>
    </div>
    <div id="js-popin--video-2">
      <iframe width="1100" height="648" src="https://www.youtube.com/embed/k5A7xDKx6is" frameborder="0" allowfullscreen></iframe>
      <div class="popin--text">
        <h3 class="popin--text-img__title">Storyboarder 1</h3>
        <p>Il crée le storyboard (mise en image du scénario) du film. Le storyboard est une représentation du scénario en une suite d’images dessinées correspondant au découpage plan par plan. Il contient les indications sur les effets optiques, sonores ou spéciaux, les dialogues, les mouvements de caméra, les angles de vue, la numération des plans, le rythme et la durée de l’action.
        Le métier de storyboarder implique une connaissance très fine de tous les aspects </p>
      </div>
      <div class="training-summary__title">
        <p class="training-summary__duration"><span>Cinéma d'animation</span></p>
      </div>
    </div>
  </div>
</div>