<div class="block-training-professions l-row">
  <div class="l-row__inner">
    <h2 class="title-h2">métiers visés</h2>
    <p>Avec la formation Concepteur et réalisateur de films d'animation, vous pourrez devenir :</p>
    <ul class="list-professions">
      <li><a href="#">Animateur</a></li>
      <li><a href="#">Graphiste / designer</a></li>
      <li><a href="#">Storyboarder</a></li>
      <li><a href="#">Layoutman</a></li>
      <li><a href="#">Réalisateur</a></li>
      <li><a href="#">Graphiste / designer</a></li>
      <li><a href="#">Opérateur et directeur de compositing</a></li>
      <li><a href="#">Animateur</a></li>
      <li><a href="#">Graphiste / designer</a></li>
      <li><a href="#">Layoutman</a></li>
    </ul>
    
  </div>
</div>