<div class="block-training-professions l-row">
  <div class="l-row__inner">
    <h2 class="title-h2">métiers visés</h2>
    <p>Avec la formation Concepteur et réalisateur de films d'animation, vous pourrez devenir :</p>
    <ul class="list-professions">
      <li><a href="#js-popin--content-1" class="js-popin--content">Animateur</a></li>
      <li><a href="#js-popin--content-2" class="js-popin--content">Graphiste / designer</a></li>
      <li><a href="#js-popin--content-3" class="js-popin--content">Storyboarder</a></li>
      <li><a href="#">Layoutman</a></li>
      <li><a href="#">Réalisateur</a></li>
      <li><a href="#">Graphiste / designer</a></li>
      <li><a href="#">Opérateur et directeur de compositing</a></li>
      <li><a href="#">Animateur</a></li>
      <li><a href="#">Graphiste / designer</a></li>
      <li><a href="#">Layoutman</a></li>
    </ul>
    <div id="js-popin--content-1" class="popin--text-img">
      <div class="popin--text-img__img">
        <img src="images/img11.jpg" alt="" />
      </div>
      <div class="popin--text-img__text">
        <h3 class="popin--text-img__title">Storyboarder 1</h3>
        <p>Il crée le storyboard (mise en image du scénario) du film. Le storyboard est une représentation du scénario en une suite d’images dessinées correspondant au découpage plan par plan. Il contient les indications sur les effets optiques, sonores ou spéciaux, les dialogues, les mouvements de caméra, les angles de vue, la numération des plans, le rythme et la durée de l’action.
        Le métier de storyboarder implique une connaissance très fine de tous les aspects </p>
        <a href="" class="btn-higlight">En savoir plus</a>
      </div>
    </div>
    <div id="js-popin--content-2" class="popin--text-img">
      <div class="popin--text-img__img">
        <img src="images/img11.jpg" alt="" />
      </div>
      <div class="popin--text-img__text">
        <h3 class="popin--text-img__title">Storyboarder 2</h3>
        <p>Il crée le storyboard (mise en image du scénario) du film. Le storyboard est une représentation du scénario en une suite d’images dessinées correspondant au découpage plan par plan. Il contient les indications sur les effets optiques, sonores ou spéciaux, les dialogues, les mouvements de caméra, les angles de vue, la numération des plans, le rythme et la durée de l’action.
        Le métier de storyboarder implique une connaissance très fine de tous les aspects </p>
        <a href="" class="btn-higlight">En savoir plus</a>
      </div>
    </div>
    <div id="js-popin--content-3" class="popin--text-img">
      <div class="popin--text-img__img">
        <img src="images/img11.jpg" alt="" />
      </div>
      <div class="popin--text-img__text">
        <h3 class="popin--text-img__title">Storyboarder 3</h3>
        <p>Il crée le storyboard (mise en image du scénario) du film. Le storyboard est une représentation du scénario en une suite d’images dessinées correspondant au découpage plan par plan. Il contient les indications sur les effets optiques, sonores ou spéciaux, les dialogues, les mouvements de caméra, les angles de vue, la numération des plans, le rythme et la durée de l’action.
        Le métier de storyboarder implique une connaissance très fine de tous les aspects </p>
        <a href="" class="btn-higlight">En savoir plus</a>
      </div>
    </div>
  </div>
</div>