
@font-face {
    font-family: "Platform-Light";
    src: url("../fonts/Platform-Light.otf") format("opentype");
}
@font-face {
    font-family: "Platform-Medium";
    src: url("../fonts/Platform-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Neuzeit";
    src: url("../fonts/NeuzeitSLTW01-Book.otf") format("opentype");
}
