/***************** btns blue ****************/
.btn-like{
  border:1px solid $color__border-gray;
  background-color:transparent;
  color:$color__border-gray--light;
  border-radius:3px;
  padding:8px 12px;
  display:inline-block;
  font-size:0.875rem;
  transition: background-color, color $animation__params;
  
  & > span{
    margin-left:3px;
    color:$color__border-gray--light;
    transition: color $animation__params;
  }

  &:hover{
    background-color:$color__bg-white;
    border-color:$color__bg-white;
    color:$color__text-dark;
    text-decoration:none;
    
    .text-highlight{
      color:$color__blue-gobelins;
    }
    .text{
      color:$color__text-dark;
    }
  }
  @media screen and (max-width: 767px){
    padding:8px 5px;
    
    & > span{
      margin-left:0;
    }
  }
}

.btn-like--mini,
.btn-higlight,
.btn-download,
.btn-more{
  border:1px solid $color__border-gray--light;
  background-color:#fff;
  color:$color__blue-gobelins;
  text-transform:uppercase;
  padding:10px 15px;
  transition: background-color $animation__params;
  font-size:0.875rem;
  letter-spacing:2px;
  font-family:$font__platform--medium;
  display:inline-block;
  text-align:center;
  
  &:hover{
    background-color:$color__blue-gobelins;
    color:#fff;
    text-decoration:none;
  }
}
.btn-more:after{
  content: '\e806';
  font-family: 'fontello';
  font-size: 20px;
  margin-left: 6px;
  vertical-align: top;
  width:20px;
  display:inline-block;
}
.btn-like--mini{
  padding:10px 12px;
}
.btn-download{
  &:after{
    content:'';
    @extend .icons-download;
    margin:-2px 0 0 10px;
    vertical-align:middle;
  }
  &:hover:after{
    @extend .icons-download-white;
  }
}

.btn-round {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color $animation__params, border-color $animation__params;
  user-select: none;
}
.btn-round.is-disabled {
  opacity: 0.5;
  cursor: auto;
}
.btn-round:hover {
  color: #FFFFFF;
  border-color: $color__blue-gobelins;
  background-color: $color__blue-gobelins;
}
.btn-round.is-disabled:hover {
  opacity: 0.5;
  background-color: transparent;
}
.btn-round--dark {
  @extend .btn-round;
  color: $color__btn--dark;
  border-color: $color__btn--dark;
}
.btn-round--light {
  @extend .btn-round;
  color: $color__btn--light;
  border-color: $color__btn--light;
}
.btn-round--dark.is-disabled:hover {
  color: $color__btn--dark;
  border-color: $color__btn--dark;
}
.btn-round--light.is-disabled:hover {
  color: $color__btn--light;
  border-color: $color__btn--light;
}

/***************** btns white ****************/
.btn-mail{
  display:inline-block;
  border:1px solid $color__border-gray;
  background-color:transparent;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  font-family:$font__platform--medium;
  font-size:0.875rem;
  letter-spacing:2px;
  padding:12px 20px;
  transition: background-color $animation__params;
  
  &:after{
    content: '\e800';
    font-family:"fontello";
    margin-left:10px;
  }
  
  &:hover{
    background-color:$color__bg-white;
    color:$color__text-dark;
  }
}
/***************** btns transparent ****************/
.btn-agenda{
  display:inline-block;
  border:1px solid #CBCBCB;
  background-color:transparent;
  color:$color__blue-gobelins;
  text-decoration:none;
  text-transform:uppercase;
  font-family:$font__platform--medium;
  font-size:0.875rem;
  letter-spacing:2px;
  padding:12px 20px;
  transition: background-color $animation__params;
  
  &:before{
    content:"";
    @extend .icons-calendar;
    vertical-align:middle;
    margin-top:-2px;
  }
  
  &:hover{
    background-color:#fff;
    text-decoration:none;
  }
}

/***************** other btns ****************/
.btn-close:before{
  content:"\2715";
  color:$color__text-dark;
  display:block;
  font-size:30px;
  cursor:pointer;
}

/***************** links ****************/
.link-localisation{
  color:#fff;
  display:inline-block;
  
  .icon-location{
    font-size:0.8rem;
    padding-left:8px;
  }
}
.link-more{
  text-transform:uppercase;
  font-family:$font__platform--medium;
  
  &:after{
    content: '\e806';
    font-family: 'fontello';
    font-size: 20px;
    margin-left: 2px;
    vertical-align: top;
    width:20px;
    display:inline-block;
  }
}

.link-more-training{
  text-transform:uppercase;
  font-family:$font__platform--medium;
  font-size:0.875rem;
  border:1px solid $color__bg-white;
  background-color:transparent;
  color:$color__bg-white;
  padding:10px 15px;
  letter-spacing:2px;
  margin-top:10px;
  display:inline-block;
} 

/***************** titles ****************/
.title-h1{
  font-size:3.375rem;
  font-family:$font__platform--light;
  letter-spacing:1px;
  text-align:center;
  margin-bottom:30px;
  text-transform:uppercase;
  color:$color__text-dark;
}
.title-h2{
  font-size:2rem;
  font-family:$font__platform--light;
  letter-spacing:1px;
  text-align:center;
  margin-bottom:30px;
  text-transform:uppercase;
  color:$color__text-dark;
}

/***************** reset ****************/
.btn-remove{
	color:$color__border-gray;
	font-size:0.875rem;
	padding:0;
	
	&:before{
		content:'x';
		display:inline-block;
		padding-right:5px;
		font-size:1rem;
	}
}

/**/
.search-message{
  color:#fff;
  font-size:2rem;
  padding:0 0 20px;
  font-family:$font__platform--light;
}

/*list style*/
.ul-styled{
  li{
    padding-left:10px;
    position:relative;
  }
  li:before{
    content:'\2022';
    position:absolute;
    left:0;
    top:1px;
    font-size:50%;
  }
}
