/* Icon directory. */
$icon-dir: icons;

/* Icon list. */
$icon-list: (
bg__rubric--hover,
like-gray, like-blue,
press,
btn-menu,
calendar, list, public, checked, euro, location, location-white, doc,
home-white, home-gray,
download, download-white,
print,
checkbox, checkbox-checked, radio, radio-checked
);

/* Icon ratio (1 for classic icons, 2 for retina icons) */
$icon-ratio: 2;

/* Generate  sprite */
@include generate-icon($icon-dir, $icon-list, $icon-ratio);

/* Specific rules */
.icon-users,
.icon-euro,
.icon-location,
.icon-check{
  color:$color__blue-gobelins;
}
.icons-calendar, 
.icons-list, 
.icons-public, 
.icons-checked, 
.icons-euro, 
.icons-location{
  margin-right:10px;
}
.icons-location{
  vertical-align:middle;
}
