<div class="container-overflow">
  <%= include('aside-tab-mob') %>
  <div class="main-wrapper">
    <%= include('header') %>

    <section class="clearfix l-main">

      <% if (typeof contentTop == 'object') { %>
        <section class="l-content-top">
          <%= include('list', {params: contentTop}) %>
        </section>
      <% } %>

      <section class="l-content-main">
        <%= include('list', {params: content}) %>
      </section>

      <% if (typeof contentBottom == 'object') { %>
        <section class="l-content-bottom">
          <%= include('list', {params: contentBottom}) %>
        </section>
      <% } %>

    </section>

    <%= include('footer') %>
  </div>
</div>
<%= include('body-end') %>

