<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8" lang=""> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9" lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
    <%= include('head', {title: 'formation pro'}) %>
  </head>
  <body class="training-animation">
    <%= include( 
      '1-column',
      {
        content      : [
          'block-training-type',
          'block-training-presentation',
          {template: 'block-slider-3', params: {slides: ['slideshow-training', 'slideshow-training', 'slideshow-training', 'slideshow-training', 'slideshow-training', 'slideshow-training', 'slideshow-training', 'slideshow-training']}},
          'block-training-results',
          'block-contact-training',
          'list-downloads',
          'block-rapid-access'
        ],
        contentTop   : ['block-training-search','breadcrumb'],
        contentBottom : []
      }
    ) %>
  </body>
</html>

 