<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8" lang=""> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9" lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
    <%= include('head', {title: 'Formation'}) %>
  </head>
  <body class="training-animation">
    <%= include(
      '1-column',
      {
        content      : [
          'block-training-presentation',
          'block-training-details',
          'block-training-professions',
          {template: 'block-slider-1', params: {slides: ['lipsum', 'lipsum', 'lipsum', 'lipsum', 'lipsum', 'lipsum', 'lipsum', 'lipsum']}},
          {template: 'block-slider-3', params: {slides: ['lipsum', 'lipsum', 'lipsum', 'lipsum', 'lipsum', 'lipsum', 'lipsum', 'lipsum']}},
          {template: 'block-slider-4', params: {slides: ['lipsum', 'lipsum', 'lipsum', 'lipsum', 'lipsum', 'lipsum', 'lipsum', 'lipsum']}},
          'block-training-admission',
          'list-downloads'
        ],
        contentTop   : ['breadcrumb', 'block-training-banner'],
        contentBottom : []
      }
    ) %>
  </body>
</html>

