<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8" lang=""> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9" lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
    <%= include('head', {title: 'Homepage'}) %>
  </head>
  <body>
    <%= include(
      '1-column',
      {
        content      : ['list-formations', 'list-news'],
        contentTop   : [],
        contentBottom : []
      }
    ) %>
  </body>
</html>

