.list-news{
  background-color:#fff;
  color:$color__text-dark;
  text-align:right;
  
  a{
    color:$color__text-dark;
  }
  
  @media screen and (max-width: $width__xs - 1px){
    .title-h2{
      font-size:1.5rem;
    }
    
    .grid-container{
      margin-bottom:30px;
    }
  }
}
.item-news{
  padding:0 20px 30px;
  @media screen and (max-width: $width__xs - 1px){
    width:100%;
    padding:20px 0;
    border-bottom:1px solid $color__border-gray--light;
    &:first-child{
      padding-top:0;
    }
  }
}
.item-news__image{
  margin-bottom:15px;
  @media screen and (max-width: $width__xs - 1px){
    width:30%;
    float:left;
  }
  
  img, a{
    display:block;
    width:100%;
    height:auto;
  }
  a:hover{
    border-color:transparent;
  }
}
.item-news__description{
  margin-bottom:5px;
  font-family:$font__neuzeit;
  min-height:6.5rem;
  
  @media screen and (max-width: $width__xs - 1px){
    margin-left:30%;
    padding-left:20px;
  }
}
.item-news__date{
  font-size:0.875rem;
  margin-bottom:5px;
  font-family:Arial;
}
.item-news__type{
  text-transform:uppercase;
  font-family:$font__platform--medium;
  font-size:0.875rem;
  position:relative;
  padding-left:20px;
  @media screen and (max-width: $width__xs - 1px){
    margin-left:30%;
    padding-left:40px;
    &:before{
      left:20px !important;
    }
  }
  
  &:before{
    content:'';
    display:block;
    width:10px;
    height:10px;
    border-radius:50%;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-6px;
    background-color:$color__blue-gobelins;
  }
}

.training-animation  .item-news__type:before{
  background-color:$color__training--animation;
}
.training-graphic-design  .item-news__type:before{
  background-color:$color__training--graphic-design;
}
.training-web-design  .item-news__type:before{
  background-color:$color__training--web-design;
}
.training-photography  .item-news__type:before{
  background-color:$color__training--photography;
}
.training-game  .item-news__type:before{
  background-color:$color__training--game;
}
.training-video-audio  .item-news__type:before{
  background-color:$color__training--video-audio;
}
.training-cross-media  .item-news__type:before{
  background-color:$color__training--cross-media;
}

