.list-news{
  background-color:#fff;
  color:$color__text-dark;
  text-align:right;
  
  a{
    color:$color__text-dark;
  }
}
.item-news{
  padding:0 20px 30px;
}
.item-news__image{
  margin-bottom:15px;
  
  img, a{
    display:block;
    width:100%;
    height:auto;
  }
}
.item-news__description{
  margin-bottom:5px;
  font-family:$font__neuzeit;
  min-height:6.5rem;
}
.item-news__date{
  font-size:0.875rem;
  margin-bottom:5px;
  font-family:Arial;
}
.item-news__type{
  text-transform:uppercase;
  font-family:$font__platform--medium;
  font-size:0.875rem;
  position:relative;
  padding-left:20px;
  
  &:before{
    content:'';
    display:block;
    width:10px;
    height:10px;
    border-radius:50%;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-6px;
    background-color:$color__blue-gobelins;
  }
}

.training-animation  .item-news__type:before{
  background-color:$color__training--animation;
}
.training-graphic-design  .item-news__type:before{
  background-color:$color__training--graphic-design;
}
.training-web-design  .item-news__type:before{
  background-color:$color__training--web-design;
}
.training-photography  .item-news__type:before{
  background-color:$color__training--photography;
}
.training-game  .item-news__type:before{
  background-color:$color__training--game;
}
.training-video-audio  .item-news__type:before{
  background-color:$color__training--video-audio;
}
.training-cross-media  .item-news__type:before{
  background-color:$color__training--cross-media;
}

