<div class="list-news l-row">
  <div class="l-row__inner">
    <h2 class="title-h2">actualités & évènements</h2>
    <div class="grid-container">
      <div class="grid-4 item-news item-news--animation">
        <div class="item-news__image">
          <a href="#"><img src="images/img9.jpg" alt="" /></a>
        </div>
        <div class="item-news__description">
          <p class="item-news__date">Publié le 17 Fév. 2015</p>
          <p><a href="#">Les étudiants de GOBELINS réinventent le mythe de La Petite Robe Noire…</a></p>
        </div>
        <p class="item-news__type">Cinéma d’animation</p>
      </div>
      <div class="grid-4 item-news">
        <div class="item-news__image">
          <a href="#"><img src="images/img9.jpg" alt="" /></a>
        </div>
        <div class="item-news__description">
          <p class="item-news__date">Publié le 17 Fév. 2015</p>
          <p><a href="#">Les étudiants de GOBELINS </a></p>
        </div>
        <p class="item-news__type">Cinéma d’animation</p>
      </div>
      <div class="grid-4 item-news">
        <div class="item-news__image">
          <a href="#"><img src="images/img9.jpg" alt="" /></a>
        </div>
        <div class="item-news__description">
          <p class="item-news__date">Publié le 17 Fév. 2015</p>
          <p><a href="#">Les étudiants de GOBELINS réinventent le mythe de La Petite Robe Noire…</a></p>
        </div>
        <p class="item-news__type">Cinéma d’animation</p>
      </div>
      <div class="grid-4 item-news">
        <div class="item-news__image">
          <a href="#"><img src="images/img9.jpg" alt="" /></a>
        </div>
        <div class="item-news__description">
          <p class="item-news__date">Publié le 17 Fév. 2015</p>
          <p><a href="#">Les étudiants de GOBELINS réinventent le mythe de La Petite Robe Noire…</a></p>
        </div>
        <p class="item-news__type">Cinéma d’animation</p>
      </div>
    </div>
    <a href="#" class="link-more">voir toutes<span class="icon-right-small"></span></a>
  </div>
</div>