/* Bloc styles. */
.training-animation .block-slider--1 {
  background-color:$color__training--animation;
}
.training-graphic-design .block-slider--1{
  background-color:$color__training--graphic-design;
}
.training-web-design .block-slider--1 {
  background-color:$color__training--web-design;
}
.training-photography .block-slider--1 {
  background-color:$color__training--photography;
}
.training-game .block-slider--1 {
  background-color:$color__training--game;
}
.training-video-audio .block-slider--1 {
  background-color:$color__training--video-audio;
}
.training-cross-media .block-slider--1 {
  background-color:$color__training--cross-media;
}
.block-slider--3 {
  background-color: $color__bg-gray--darck;
  color: #fff;
  
  h2 {
    color: #fff;
  }
}
.block-slider--4 {
  background-color: $color__bg-white;
}

/* Owl styles. */
.owl-carousel .owl-item {
  display: inline-block;
  float: none;
  vertical-align: bottom;
}
.owl-nav {
  text-align: center;
  margin-top: 30px;
}
.owl-nav > div {
  margin: 0 10px;
}
.owl-dots {
  text-align: center;
  margin-top: 30px;
  line-height: 6px;
}
.owl-dot {
  display: inline-block;
}
.owl-dot > span {
  width: 6px;
  height: 6px;
  margin: 0 7px;
  background: $color__text-dark;
  display: block;
  transition: opacity $animation__params;
  border-radius: 30px;
  opacity: 0.5;
}
.owl-dot.active > span {
  opacity: 1;
}
@media screen and (max-width: $width__m) {
  .owl-dots {
    margin-top: 20px;
 }
}
@media screen and (max-width: $width__xs - 1px) {
  .owl-dots {
    margin-top: 15px;
 }
}

/* Owl styles rewrites. */
.block-slider--1 .owl-dots {
  position: absolute;
  width: 100%;
}
.block-slider--1 .owl-nav {
  display: none;
}
