<div class="block-banner type l-row" style="background-image:url(images/banner2.jpg)">
  <div class="l-row__inner">
    
    <div class="training-type-summary">
     <p class="training-type-name">Cinéma d'animation</p>
      <div class="training-type-summary__title">
	        <h1 class="title-h1">Cinéma d’animation</h1>
      </div>
     </div>
     <div class="clearfix intro-link">
       <p class="training-summary__introduction">En plus de 30 ans d'existence les formations au cinéma d'animation de GOBELINS, l'école de l'image sont devenues des références de ce secteur d'activité.</p>
       <a href="#" class="link-more-training">En savoir plus</a>
     </div>
         
  </div>
</div>