<div class="block-banner type l-row" style="background-image:url(images/banner2.jpg)">
  <div class="l-row__inner">
    
    <div class="training-type-summary">
		<p class="training-type-name">Cinéma d'animation</p>
      <div class="training-type-summary__title">
		
        <h1 class="title-h1">Cinéma d’animation</h1>
        <div class="clearfix">
          <p class="training-summary__introduction">En plus de 30 ans d'existence les formations au cinéma d'animation de GOBELINS, l'école de l'image sont devenues des références de ce secteur d'activité.</p>
		  <a href="#" class="link-more-training">En savoir plus</a>
        </div>
      </div>
      <!--<div class="training-summary__description">
        <div class="col1">
          <p class="sub-title"><span class="icons-public"></span>Public concerné</p>
          <ul>
            <li>Âgé de 25 ans maximum au 1er septembre 2015</li>
            <li>Titulaire au minimum d’un Bac Général ou Technologique</li>
          </ul>
          <p class="sub-title"><span class="icons-checked"></span>Aptitudes</p>
          <ul>
            <li>Excellent dessinateur maîtrisant l’expression du mouvement, du volume et de la perspective.</li>
            <li>Créatif, capable d’imaginer des univers graphiques, des histoires et de les mettre en scène.</li>
            <li>Large ouverture d’esprit et une solide culture générale et </li>
          </ul>
        </div>
        <div class="col2">
          <p class="sub-title"><span class="icons-euro"></span>Public concerné</p>
          <p>6 800 €/an. Possibilité d’obtention de bourses GOBELINS pouvant couvrir jusqu’à 80% des frais de scolarité (bourses GOBELINS, Odon Vallet et/ou CROUS).</p>
        </div>
        <div class="col3">
          <div class="col3-1">
            <p class="sub-title"><span class="icons-list"></span>Public concerné</p>
            <p>Certification professionnelle, de niveau I (Fr) et de niveau 7 (Eu), enregistrée au RNCP</p>
          </div>
          <div class="col3-2">
            <p class="sub-title"><span class="icons-location"></span>lieu</p>
            <p>Gobelins - Site Paris</p>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>