.filter-trainings{
  background:#fff;
  text-align:center;
  padding:5px 0 40px;
  
  &.professionnal{
	float:left;
	width:30%;
  }
  
  
  .title-category{
    display:inline-block;
    text-transform:uppercase;
    border-bottom:4px solid $color__text-dark;
    padding-bottom:2px;
    margin-bottom:6px;
    font-size:1.0625rem;
    font-family:$font__platform--medium;
    color:$color__text-dark;
  }
  .title-h1{
    margin-bottom:20px;
  }
}
.filter-trainings__form{
  border-top:1px solid $color__border-gray--light;
  padding-top:40px;
  
  .title{
    text-transform:uppercase;
    color:$color__text-dark;
    margin-bottom:10px;
    font-family:$font__platform--medium;
    letter-spacing:1px;
  }
  .btn-higlight{
    margin-top:20px;
  }
  
  .col1,
  .col2,
  .col3{
    display:inline-block;
    vertical-align:top;
    text-align:left;
  }
  .col1,
  .col2{
    width:20%;
  }
  .col3{
    width:55%;
    
    .col{
      display:inline-block;
      width:30%;
      vertical-align:top;
    }
  }
}