<div class="list-formations l-row">
  <div class="l-row__inner">
    <p class="search-message">12 formations correspondent à vos critères</p>
    <div class="item-formation item-formation--gobelins">
      <div class="item-formation__bar-top clearfix">
        <p class="item-formation__date"><span class="icons-calendar-blue"></span>temps plein : 4 ans</p>
        <p class="item-formation__type">Étudiant</p>
      </div>
      <div class="item-formation__content">
        <div class="item-formation__description">
          <h2 class="title">Entrée directe en 2e cycle Concepteur et réalisateur de films d’animation</h2>
          <p class="location"><span class="icon-location"></span>Paris</p>
          <p>Ce second cycle permet d'intégrer le cursus de GOBELINS en 3ème année afin d'approfondir ses connaissances, notamment en matière de réalisation et de storytelling.</p>
          <div class="info">
            <p class="info__title"><span class="icon-users"></span>Public concerné</p>
            <ul class="info__detailes">
              <li>Agé de 25 ans maximum au 1er septembre 2015</li>
              <li>Titulaire au minimum d'un Bac Général ou Technologique</li>
            </ul>
          </div>
        </div>
        <div class="item-formation__image">
          <img src="images/img8.jpg" alt="" />
          <a href="#" class="btn-higlight">voir la formation</a>
          <a href="#" class="btn-like--mini"><span class="icon-heart"></span></a>
        </div>
      </div>
    </div>
    <div class="item-formation item-formation--animation">
      <div class="item-formation__bar-top clearfix">
        <p class="item-formation__date"><span class="icons-calendar-blue"></span>temps plein : 4 ans</p>
        <p class="item-formation__type">Étudiant</p>
      </div>
      <div class="item-formation__content">
        <div class="item-formation__description">
          <h2 class="title">Entrée directe en 2e cycle Concepteur et réalisateur de films d’animation</h2>
          <p class="location"><span class="icon-location"></span>Paris</p>
          <p>Ce second cycle permet d'intégrer le cursus de GOBELINS en 3ème année afin d'approfondir ses connaissances, notamment en matière de réalisation et de storytelling.</p>
          <div class="info">
            <p class="info__title"><span class="icon-users"></span>Public concerné</p>
            <ul class="info__detailes">
              <li>Agé de 25 ans maximum au 1er septembre 2015</li>
              <li>Titulaire au minimum d'un Bac Général ou Technologique</li>
            </ul>
          </div>
        </div>
        <div class="item-formation__image">
          <img src="images/img8.jpg" alt="" />
          <a href="#" class="btn-higlight">voir la formation</a>
          <a href="#" class="btn-like--mini"><span class="icon-heart"></span></a>
        </div>
      </div>
    </div>
    <div class="item-formation item-formation--cross-media">
      <div class="item-formation__bar-top clearfix">
        <p class="item-formation__date"><span class="icons-calendar-blue"></span>temps plein : 4 ans</p>
        <p class="item-formation__type">Étudiant</p>
      </div>
      <div class="item-formation__content">
        <div class="item-formation__description">
          <h2 class="title">Entrée directe en 2e cycle Concepteur et réalisateur de films d’animation</h2>
          <p class="location"><span class="icon-location"></span>Paris</p>
          <p>Ce second cycle permet d'intégrer le cursus de GOBELINS en 3ème année afin d'approfondir ses connaissances, notamment en matière de réalisation et de storytelling.</p>
          <div class="info">
            <p class="info__title"><span class="icon-users"></span>Public concerné</p>
            <ul class="info__detailes">
              <li>Agé de 25 ans maximum au 1er septembre 2015</li>
              <li>Titulaire au minimum d'un Bac Général ou Technologique</li>
            </ul>
          </div>
        </div>
        <div class="item-formation__image">
          <img src="images/img8.jpg" alt="" />
          <a href="#" class="btn-higlight">voir la formation</a>
          <a href="#" class="btn-like--mini"><span class="icon-heart"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>