.tabs-accordion{  
  .tabs-title{
    background-color:$color__bg-gray;
    display:table;
    table-layout:fixed;
    width:100%;
    
    @media screen and (max-width: 767px) {
      display:none;
    }
    
    li{
      display:table-cell;
      width:50%;
      vertical-align:middle;
      text-align:center;
      text-transform:uppercase;
      font-family:$font__platform--medium;
      letter-spacing:1px;
      border-top:2px solid $color__bg-gray;
      background-color:transparent;
      transition: background-color $animation__params, border-color $animation__params;
      
      &:hover{
          border-bottom-color:transparent;
          background-color: $color__blue-gobelins;
          border-top:2px solid $color__blue-gobelins;
          color:#fff;
        }
      
      a{
        padding:30px 0;
        display:block;
        text-decoration:none;
        
        &:hover{
          border-color:transparent;
          color:#fff;
        }
      }
    }
    .is-open{
      border-top:2px solid $color__blue-gobelins;
      background-color:#fff;
      
      &:hover{
        background-color:#fff;
      }
      
      a{
        color:$color__text-dark;
        
        &:hover{
          color:$color__text-dark;
        }
      }
    }
    
  }
  .accordion-title{
    display:none;
    text-transform:uppercase;
    background-color:$color__bg-gray;
    font-family:$font__platform--medium;
    letter-spacing:1px;
    
    a{
      padding:30px 40px;
      display:block;
      text-decoration:none;
    }
    
    &.is-open{
      border-top:2px solid $color__blue-gobelins;
      background-color:#fff;
      
      a{
        color:$color__text-dark;
      }
    }
    
    @media screen and (max-width: 767px) {
      display:block;
    }
  }
  .tabs-container{
    background-color:#fff; 
    border-bottom:2px solid $color__border-gray--light;
  }
  .content{
    padding:40px;
    
    @media screen and (max-width: 767px) {
      padding:0 40px 40px;
    }
    
    font-family:$font__neuzeit;
    
    ul{
      @extend .ul-styled;
    }
  }
}