<div class="tabs-accordion">
  <ul class="tabs-title">
    <li class="active"><a href="#">matières enseignées</a></li>
    <li><a href="#">compétences</a></li>
    <li><a href="#">les plus</a></li>
  </ul>
  <div class="tabs-container">
    <div class="accordion-title active"><a href="#">matières enseignées</a></div>
    <div class="content">
      <ul>
        <li>Le dessin d’animation : croquis d’après modèle vivant, morphologie, perspective, analyse du mouvement, construction en volume.</li>
        <li>Le design de personnage et de décor.</li>
        <li>L’animation : l’analyse de l’acting, l’animation traditionnelle et l’animation numérique 2D et 3D.</li>
        <li>La mise en scène : le langage cinématographique et dramaturgique, le storyboard, le layout, le montage.</li>
        <li>La recherche couleur et l’analyse de la lumière et des ambiances.</li>
        <li>Les techniques spécifiques à la chaîne 3D : layout, modélisation, set up, rendu.</li>
        <li>Les différentes techniques de prise de vue et d’intégration.</li>
        <li>La conception sonore et la chaîne de fabrication du son.</li>
        <li>Les effets spéciaux et le compositing.</li>
        <li>L’anglais courant adapté au milieu professionnel.</li>
        <li>La scénarisation, le découpage du film, la définition et la caractérisation des personnages, la recherche du design graphique et sonore, l’écriture du storyboard.</li>
        <li>Le respect d’un cahier des charges, d’une méthodologie de fabrication, du planning de production.</li>
        <li>Projets : Production de courts métrages : films de commande dont un pour le Festival International du Film d’Animation d’Annecy (2ème année) et film de fin d’étude 2D et/ou 3D sur plus d’un an.</li>
      </ul>
    </div>
    <div class="accordion-title"><a href="#">compétences</a></div>
    <div class="content"></div>
    <div class="accordion-title"><a href="#">les plus</a></div>
    <div class="content"></div>
  </div>
</div>