.slide-witness{
  background:#fff;
  box-shadow: 0 2px rgba(0,0,0,0.2);
  margin-bottom:2px;
  padding:30px 190px;
  text-align:center;
  
  @media screen and (max-width: $width__m) {
    padding:30px 80px;
  }
  
  @media screen and (max-width: $width__s) {
    padding:30px 60px;
  }
 
  .author-name{
    text-transform:uppercase;
    font-family:$font__platform--medium;
    letter-spacing:1px;
    color:$color__text-dark;
    margin-bottom:15px;
  }
  .author-info{
    font-family:$font__neuzeit;
    margin:0 100px;
  }
  .witness{
    font-family:$font__platform--medium;
    letter-spacing:1px;
    font-size:1.5rem;
    line-height:1.2em;
    margin-bottom:15px;
  }
}