<div class="block-banner l-row" style="background-image:url(images/banner1.jpg)">
  <div class="l-row__inner">
    <p class="training-name">
      cinéma d’animation
    </p>
    <div class="training-summary">
      <div class="training-summary__title">
        <h1>Concepteur et réalisateur de films d’animation</h1>
        <div class="clearfix">
          <p class="ref">Réf. AD01</p>
          <p class="training-summary__duration"><span>temps plein</span> 4 ans dont un stage en entreprise de 5 mois - Avril à Août</p>
        </div>
      </div>
      <div class="training-summary__description">
        <div class="col1">
          <p class="sub-title"><span class="icons-public"></span>Public concerné</p>
          <ul>
            <li>Âgé de 25 ans maximum au 1er septembre 2015</li>
            <li>Titulaire au minimum d’un Bac Général ou Technologique</li>
          </ul>
          <p class="sub-title"><span class="icons-checked"></span>Aptitudes</p>
          <ul>
            <li>Excellent dessinateur maîtrisant l’expression du mouvement, du volume et de la perspective.</li>
            <li>Créatif, capable d’imaginer des univers graphiques, des histoires et de les mettre en scène.</li>
            <li>Large ouverture d’esprit et une solide culture générale et </li>
          </ul>
        </div>
        <div class="col2">
          <p class="sub-title"><span class="icons-euro"></span>Public concerné</p>
          <p>6 800 €/an. Possibilité d’obtention de bourses GOBELINS pouvant couvrir jusqu’à 80% des frais de scolarité (bourses GOBELINS, Odon Vallet et/ou CROUS).</p>
        </div>
        <div class="col3">
          <div class="col3-1">
            <p class="sub-title"><span class="icons-list"></span>Public concerné</p>
            <p>Certification professionnelle, de niveau I (Fr) et de niveau 7 (Eu), enregistrée au RNCP</p>
          </div>
          <div class="col3-2">
            <p class="sub-title"><span class="icons-location"></span>lieu</p>
            <p>Gobelins - Site Paris</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>