.results-filter-training{
	float:right;
	width:70%;
	
	@media screen and (max-width: 1140px) {
		width:100%;
	}
	
	
	.option-filter{
		text-transform:uppercase;
		color:$color__slideshow--training;
		margin-bottom:15px;
		.date,
		.price{
			text-transform:capitalize;
			color:$color__border-gray;
			font-family:$font__neuzeit;
			padding-bottom:2px;
			margin-left:15px;
			text-decoration:none;
		}
		.active{
			border-bottom:2px solid #1a1a1a;
			color:$color__slideshow--training;
		}
	}
	.list-results-training{
		border-bottom:2px solid #d9d9d9;
		margin-bottom:25px;
		.list-item{
			float:left;
			width:100%;
			background-color:$color__bg-white;
			margin-top:1px;
			padding:15px;
			&:first-child{
				margin-top:0;
				
			}
			
		}
		
		.item-result__info{
			width:35%;
			display:inline-block;
			vertical-align:top;
			text-align:right;
			
			.price-training{
				color:$color__border-gray;
				margin-right:20px;
			}
		}
		
		.item-result__detail{
			width:64%;
			display:inline-block;
			vertical-align:top;
			h3{
				color:$color__slideshow--training;
				font-size:1.25;
				font-family:$font__platform--medium;
				letter-spacing:1px;
				position:relative;
			}
			
			.new{
				&:after{
					content:'new';
					display:inline-block;
					background:$color__blue-gobelins;
					color:$color__bg-white;
					padding:0 4px;
					font-size:0.6875rem;
					text-transform:uppercase;
					height: 15px;
					line-height: 15px;
					margin: 4px 0 0 10px;
					vertical-align:top;
				}
				
			}
			p{
				display:inline-block;
				margin-top:10px;
				&.ref{
					margin-left:20px;
				}
				&.subtitle{
					display:block;
					margin:0;
				}
			}
		}
	
	}
	
	.other-training{
		background:#1a1a1a;
		padding:14px 0;
		a{
			text-transform:uppercase;
			color:$color__bg-white;
			font-size:0.875rem;
			font-family:"Platform-Medium";
			letter-spacing:1px;
			display:block;
			text-align:center;
			text-decoration:none;
			
		}
	}
}