<div class="block-training-info-practice l-row">
  <div class="l-row__inner">
    <div class="grid-container">
      <div class="grid-2">
        <h2 class="title-h2">en pratique</h2>
        <p>La sélection des candidats pourra être effectuée lors d'un entretien préalable.</p>
        <div class="item-info-practice">
          <p class="item-info-practice__title">prochaines sessions</p>
          <ul class="list-sessions item-info-practice__description">
            <li class="clearfix">
              <a href="#" class="btn-agenda">Ajouter à mon agenda</a>
              <p class="text-higlight">du 7 au 18 avril 2014</p>
            </li>
            <li class="clearfix">
              <a href="#" class="btn-agenda">Ajouter à mon agenda</a>
              <p class="text-higlight">du 30 juin au 11 juillet 2014</p>
            </li>
          </ul>
        </div>
        <div class="item-info-practice">
          <p class="item-info-practice__title">horaires de la formation</p>
          <div class="item-info-practice__description">
            <p class="text-higlight">8h/14h ou 14h/20h</p>
            <p>fixé par Gobelins</p>
          </div>
        </div>
        <div class="item-info-practice">
          <p class="item-info-practice__title">questions fréquentes</p>
          <div class="item-info-practice__description">
            <ul>
              <li><a href="#">Quels sont les enjeux de l'oral d'entretien ?</a></li>
              <li><a href="#">Cras justo odio, dapibus ac facilisis in, egestas eget quam ?</a></li>
              <li><a href="#">Donec id elit non mi porta gravida at eget metus ?</a></li>
              <li><a href="#">Quels sont les enjeux de l'oral d'entretien ?</a></li>
              <li><a href="#">Cras justo odio, dapibus ac facilisis in, egestas eget quam ?</a></li>
              <li><a href="#">Donec id elit non mi porta gravida at eget metus ?</a></li>
            </ul>
            <a href="#" class="link-more">Voir toute la faq</a>
          </div>
        </div>
      </div>
      <div class="grid-2">
        <h2 class="title-h2">contact</h2>
        <p>Vous souhaitez en savoir plus sur la formation ?</p>
        <%= include('block-contact-training--with-map') %>
        
      </div>
    </div>
  </div>
</div>