
<div class="list-communique-press__item-communique">
  <% if (typeof isPicture != 'undefined' && isPicture) { %>
    <div class="item-communique__image">
      <a href="#"><img alt="" src="images/communique-press.jpg"></a>
    </div>
  <% } %>
  <div class="item-communique__description
    <% if (typeof isPicture == 'undefined') { %>
        full
    <% } %>"> 
    <h3><a href="#">GOBELINS lance une Summer School Photo</a></h3>
    <% if (typeof isNewspaper != 'undefined' && isNewspaper) { %>
      <p class="name-newspaper"><a href="#">Next Libération</a></p>
    <% } %> 
    <p class="date">21 juin 2015</p>
    <p class="intro"><a href="#"> GOBELINS, l’école de l’image, ouvre cet été une Summer School photographie qui se déroulera du 1er au 7 Juillet 2015. Une occasion exceptionnelle pour de jeunes talents de vivre de nouvelles expériences photographiques…</a></p>
  </div>
</div>

 

