<div class="l-row content-press">
  <div class="l-row__inner clearfix">
    <div class="list-actus-press">
      <h2 class="title-h2"> Actualités </h2>
      <%= include('block-filter-press') %>
     <div class="list-actus-press__line">
        <%= include ('block-actu-press_item') %>
        <%= include ('block-actu-press_item') %>
        <%= include ('block-actu-press_item') %>
     </div>
     
     <div class="list-actus-press__line">
        <%= include ('block-actu-press_item') %>
        <%= include ('block-actu-press_item') %>
        <%= include ('block-actu-press_item') %>
     </div>
     
     <div class="list-actus-press__line">
        <%= include ('block-actu-press_item') %>
        <%= include ('block-actu-press_item') %>
        <%= include ('block-actu-press_item') %>
     </div>
     
     <div class="list-actus-press__line">
        <%= include ('block-actu-press_item') %>
        <%= include ('block-actu-press_item') %>
        <%= include ('block-actu-press_item') %>
     </div>
     <%= include ('block-pagination') %>
    </div>
     <%= include ('block-agenda-press') %>
  </div>
</div>  