<div class="block-agenda-press">
  <p class="title">Agenda</p>
  <div class="select-month">
   <span class="icon-left-small"></span>
   <span class="month">Mars</span>
   <span class="icon-right-small"></span>
  
  </div>
  <div class="list-events">
   <div class="item-event">
    <p class="date">11.04.15</p>
    <a class="detail" href="#">Introduction à la lecture d'image et à son organisation narrative</a>
    <a class="btn-agenda" href="#">
     Ajouter à mon agenda
    </a>
   </div>
   
    <div class="item-event">
    <p class="date">23.04.15</p>
    <a class="detail" href="#">Nouvelle rencontre Plexus Gobelins : lundi 21 mars 2015</a>
    <a class="btn-agenda" href="#">
     Ajouter à mon agenda
    </a>
   </div>
  
  </div>
</div>