<div class="list-shared-icons">
  <h3>nous suivre</h3>
  <ul>
    <li><a href="#" class="icon-facebook"></a></li>
    <li><a href="#" class="icon-twitter"></a></li>
    <li><a href="#" class="icon-gplus"></a></li>
    <li><a href="#" class="icon-pinterest-circled"></a></li>
    <li><a href="#" class="icon-vimeo"></a></li>
    <li><a href="#" class="icon-linkedin"></a></li>
    <li><a href="#" class="icon-instagramm"></a></li>
    <li><a href="#" class="icon-youtube-play"></a></li>
  </ul>
</div>