<div class="l-row social-network-press">
  <div class="l-row__inner clearfix">
    <div class="list-shared-icons">
      <h2 class="title-h2">Retrouvez Gobelins sur les réseaux sociaux</h2>
      <ul>
        <li><a href="#" class="icon-facebook"></a></li>
        <li><a href="#" class="icon-twitter"></a></li>
        <li><a href="#" class="icon-linkedin"></a></li>
        <li><a href="#" class="icon-youtube-play"></a></li>
        <li><a href="#" class="icon-vimeo"></a></li>
        <li><a href="#" class="icon-instagramm"></a></li>
      </ul>
    </div>
  </div>
</div>    