.list-downloads{
  background-color:$color__bg-gray--light;
}
.item-downloads{
  background-color:#fff;
  border-bottom: 2px solid $color__border-gray--light;
  padding:30px 40px 40px;
  text-align:center;
  font-family:$font__neuzeit;
  @media screen and (max-width: $width__m) {
    text-align:left;
  }
   
  & + .item-downloads{
    border-left:1px solid $color__border-gray--light;
  }
  
  .item-downloads__img{
    display:block;
    margin:0 auto 20px;
    width:130px;
    border-bottom: 2px solid $color__border-gray--light;
    &:hover{
      border-color:transparent;
    }
    @media screen and (max-width: $width__m) {
      display:inline-block;
      vertical-align:middle;
      width:15%;
      margin-bottom:0;      
    }
    
    @media screen and (max-width: $width__xs - 1px){
     width:24%;
     vertical-align:top;
    }
    
    img{
      display:block;
      width:100%;
      height:auto;
    }
  }
  
  @media screen and (max-width: $width__m){
   .item-downloads__details{
    display:inline-block;
    width:84%; 
    vertical-align:middle;
   }
  }
  
  @media screen and (max-width: $width__xs - 1px){
   .item-downloads__details{
    width:68%; 
    margin-left:5%;
    vertical-align:top;
   }
  }
  
  
  
  
  h3{
    margin-bottom:20px;
    min-height:3em;
    
    @media screen and (max-width: $width__m) {
      display:inline-block;
      vertical-align:middle;
      margin-left:20px;
      width:62%;
    }
    
     @media screen and (max-width: $width__xs - 1px){
      width:100%;
      vertical-align:top;
      margin-left:0;
     }
  }
  
   @media screen and (max-width: $width__m) {
    .btn-download{
      float:right;
      margin-left:15px;
      .extension{
       display:none;
      }
     }
   }
   
   @media screen and (max-width: $width__xs - 1px) {
    .btn-download{
      width:auto;
      margin-left:0;
      float:none;      
    }
   }
}
.list-downloads--mini{
  li{
    padding:20px 30px 20px 60px;
    position:relative;
    
    &:before{
      content:"";
      @extend .icons-doc;
      position:absolute;
      top:50%;
      left:30px;
      margin-top:-9px;
    }
  }
  li + li{
    border-top:1px solid $color__border-gray--light;
  }
}