<ul class="list-downloads--mini">
  <li>
    <a href="#">Fiche de présentation de la formation "Concepteur et Réalisateur de Films d'Animation" (2015)</a>
  </li>
  <li>
    <a href="#">Modalités d'admission 2015</a>
  </li>
  <li>
    <a href="#">Sujet de l'épreuve d'étude de personnage 2014</a>
  </li>
  <li>
    <a href="#">Sujet de l'épreuve de mise en image d'un texte 2014</a>
  </li>
  <li>
    <a href="#">Sujet de l'épreuve d'étude de personnage 2013</a>
  </li>
  <li>
    <a href="#">Sujet de l'épreuve de mise en image d'un texte 2013</a>
  </li>
</ul>