<footer class="footer">
  <div class="footer__logo-container">
    <a href="#" class="footer__logo"><img src="images/logo-gobelins.png"/></a>
  </div>
  <div class="footer__inner">
    <div class="grid-container footer__info">
      <div class="grid-3">
        <h3>Contact <br />formations étudiantes</h3>
        <a href="#" class="btn-mail">contactez-nous</a>
      </div>
      <div class="grid-3">
        <h3>Contact <br />formations professionnelles</h3>
        <a href="#" class="btn-mail">contactez-nous</a>
      </div>
      <div class="grid-3 list-shared-icons">
        <%= include('widget-shared-icons') %>
      </div>
    </div>
    <div class="grid-container footer__info">
      <div class="grid-3 no-display--tab-mob">
        <h3>Services aux candidats</h3>
        <ul>
          <li><a href="#">Trouver votre formation</a></li>
          <li><a href="#">Informations pratiques</a></li>
          <li><a href="#">Financer ses études</a></li>
          <li><a href="#">La vie à l’école</a></li>
        </ul>
      </div>
      <div class="grid-3 no-display--tab-mob">
        <h3>International student</h3>
        <ul>
          <li><a href="#">Welcome Pack</a></li>
        </ul>
      </div>
      <div class="grid-3 no-display--tab-mob">
        <h3>Services aux entreprises</h3>
        <ul>
          <li><a href="#">Recrutez un élève</a></li>
          <li><a href="#">Consultez les CV</a></li>
          <li><a href="#">Versez votre taxe d’apprentissage</a></li>
          <li><a href="#">Formez vos collaborateurs</a></li>
        </ul>
      </div>
      <div class="grid-3">
        <h3>Site de Noisy-le-Grand</h3>
        <p>
          11 rue du Ballon <br />
          ZI des Richardets <br />
          93165 Noisy-le-Grand Cedex <br />
          Téléphone : 01 48 15 52 00 <br />
          Fax : 01 48 15 52 65 <br />
        </p>
        <a href="#" class="link-localisation">Voir la carte<span class="icons-location-white"></span></a>
      </div>
      <div class="grid-3">
        <h3>Site de Paris</h3>
        <p>
          73, boulevard Saint-Marcel <br />
          75013 Paris <br />
          Téléphone : 01 40 79 92 79 <br />
          Fax : 01 40 79 92 71 <br />
        </p>
        <a href="#" class="link-localisation">Voir la carte<span class="icons-location-white"></span></a>
      </div>
      <div class="grid-3 no-display--tab-mob">
        <h3><a href="#">publications des admissions</a></h3>
        <h3><a href="#">catalogue formations étudiantes</a></h3>
        <h3><a href="#">catalogue formations professionnelles</a></h3>
        <h3><a href="#">guide des métiers</a></h3>
        <h3><a href="#">guide pratique</a></h3>
        <h3><a href="#">faq</a></h3>
      </div>
    </div>
    <div class="footer__menu">
      <img class="logo-cci" src="images/logo-cci.png"/>
      <ul>
        <li><a href="#">Liens utiles</a></li>
        <li><a href="#">Espace presse</a></li>
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">Plan du site</a></li>
        <li><a href="#">Crédits</a></li>
      </ul>
    </div>
  </div>
</footer>

