<div class="popin--text-img group1">
  <span class="btn-close"></span>
  <div class="popin--text-img__img">
    <img src="images/img11.jpg" alt="" />
  </div>
  <div class="popin--text-img__text">
    <h3 class="popin--text-img__title">Storyboarder</h3>
    <p>Il crée le storyboard (mise en image du scénario) du film. Le storyboard est une représentation du scénario en une suite d’images dessinées correspondant au découpage plan par plan. Il contient les indications sur les effets optiques, sonores ou spéciaux, les dialogues, les mouvements de caméra, les angles de vue, la numération des plans, le rythme et la durée de l’action.
    Le métier de storyboarder implique une connaissance très fine de tous les aspects </p>
    <a href="" class="btn-higlight">En savoir plus</a>
  </div>
</div>