.list-docs{
  background-color:$color__bg-gray;
  
  
}
.item-doc{
  background-color:#fff;
  border-bottom: 2px solid $color__border-gray--light;
  padding:30px 40px 40px;
  text-align:center;
   
  & + .item-doc{
    border-left:1px solid $color__border-gray--light;
  }
  
  .item-doc__img{
    display:block;
    margin:0 auto 20px;
    width:130px;
    border-bottom: 2px solid $color__border-gray--light;
    
    img{
      display:block;
      width:100%;
      height:auto;
    }
  }
  p{
    margin-bottom:20px;
    min-height:3em;
  }
}