<div class="filter-press">
 Filtrer par
 <div class="form-item">
  <label for="rubrique">Rubriques</label>
  <span class="styled-select">
    <select>
      <option>Toutes</option>
      <option>Rubriques 1</option>
      <option>Rubriques 2</option>
    </select>
  </span>
 </div>
 <div class="form-item">
  <label for="rubrique">Archives</label>
  <span class="styled-select">
    <select>
      <option>Années</option>
      <option>2015</option>
      <option>2014</option>
      <option>2013</option>
    </select>
  </span>
 </div>
</div>