<div class="block-agenda-press">
  <p class="title">Agenda</p>
  <div class="month">
   <span class="icon-left-small"></span>
   Mars
   <span class="icon-right-small"></span>
  
  </div>
  <div class="list-events">
   <div class="item-event">
    <p class="date">11.04.15</p>
    <p class="detail">Introduction à la lecture d'image et à son organisation narrative</p>
    <a class="btn-higlight" href="#">
     <span class="icons-calendar"></span>
     Ajouter à mon agenda
    </a>
   </div>
  
  </div>
</div>