<div class="list-actus-press">
 <div class="list-actus-press__line">
  <div class="list-actus-press__item-actus">
   <div class="item-actus__image">
    <a href="#"><img alt="" src="images/actu-press-1.jpg"></a>
   </div>
   <div class="item-actus__description">
     <p class="name-rubrique">Cinéma D'animation</p>
     <h3><a href="#">Les étudiants de GOBELINS réinventent le mythe de La Petite Robe Noire</a></h3>
     <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
   </div>
  </div>
  
  <div class="list-actus-press__item-actus">
   <div class="item-actus__image">
    <a href="#"><img alt="" src="images/actu-press-2.jpg"></a>
   </div>
   <div class="item-actus__description">
     <p class="name-rubrique">Photographie</p>
     <h3><a href="#">Inauguration de la presse à Noisy</a></h3>
     <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
   </div>
  </div>
  
  
  <div class="list-actus-press__item-actus">
   <div class="item-actus__image">
    <a href="#"><img alt="" src="images/actu-press-3.jpg"></a>
   </div>
   <div class="item-actus__description">
     <p class="name-rubrique">Cinéma D'animation</p>
     <h3><a href="#">Prix picto de la Jeune Photographie de Mode 2014</a></h3>
     <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
   </div>
  </div>         
 </div>
 
 <div class="list-actus-press__line">
  <div class="list-actus-press__item-actus">
   <div class="item-actus__image">
    <a href="#"><img alt="" src="images/actu-press-1.jpg"></a>
   </div>
   <div class="item-actus__description">
     <p class="name-rubrique">Cinéma D'animation</p>
     <h3><a href="#">Les étudiants de GOBELINS réinventent le mythe de La Petite Robe Noire</a></h3>
     <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
   </div>
  </div>
  
  <div class="list-actus-press__item-actus">
   <div class="item-actus__image">
    <a href="#"><img alt="" src="images/actu-press-2.jpg"></a>
   </div>
   <div class="item-actus__description">
     <p class="name-rubrique">Photographie</p>
     <h3><a href="#">Inauguration de la presse à Noisy</a></h3>
     <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
   </div>
  </div>
  
  
  <div class="list-actus-press__item-actus">
   <div class="item-actus__image">
    <a href="#"><img alt="" src="images/actu-press-3.jpg"></a>
   </div>
   <div class="item-actus__description">
     <p class="name-rubrique">Cinéma D'animation</p>
     <h3><a href="#">Prix picto de la Jeune Photographie de Mode 2014</a></h3>
     <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
   </div>
  </div>         
 </div>
 
 <div class="list-actus-press__line">
  <div class="list-actus-press__item-actus">
   <div class="item-actus__image">
    <a href="#"><img alt="" src="images/actu-press-1.jpg"></a>
   </div>
   <div class="item-actus__description">
     <p class="name-rubrique">Cinéma D'animation</p>
     <h3><a href="#">Les étudiants de GOBELINS réinventent le mythe de La Petite Robe Noire</a></h3>
     <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
   </div>
  </div>
  
  <div class="list-actus-press__item-actus">
   <div class="item-actus__image">
    <a href="#"><img alt="" src="images/actu-press-2.jpg"></a>
   </div>
   <div class="item-actus__description">
     <p class="name-rubrique">Photographie</p>
     <h3><a href="#">Inauguration de la presse à Noisy</a></h3>
     <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
   </div>
  </div>
  
  
  <div class="list-actus-press__item-actus">
   <div class="item-actus__image">
    <a href="#"><img alt="" src="images/actu-press-3.jpg"></a>
   </div>
   <div class="item-actus__description">
     <p class="name-rubrique">Cinéma D'animation</p>
     <h3><a href="#">Prix picto de la Jeune Photographie de Mode 2014</a></h3>
     <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
   </div>
  </div>         
 </div>
</div>