<div class="tabs-accordion-press">
  <div class="l-row__inner clearfix">
   <ul class="tabs-title">
     <li class="js-contenttoggle--tabs-accordion" data-content-selector="#ta-content1" data-trigger-selector=".ta-trigger1">
       <a href="#tab1" class="ta-trigger1">Actualites</a>
     </li>
     <li class="js-contenttoggle--tabs-accordion" data-content-selector="#ta-content2" data-trigger-selector=".ta-trigger2">
       <a href="#tab2" class="ta-trigger2">Communiqués de presse</a>
     </li>
     <li class="js-contenttoggle--tabs-accordion" data-content-selector="#ta-content3" data-trigger-selector=".ta-trigger3">
       <a href="#tab3" class="ta-trigger3">Kit média</a>
     </li>
      <li class="js-contenttoggle--tabs-accordion" data-content-selector="#ta-content4" data-trigger-selector=".ta-trigger4">
       <a href="#tab4" class="ta-trigger4">Gobelins dans la presse</a>
     </li>
   </ul>
  </div>
  <div class="tabs-container">
   <div class="l-row__inner clearfix">
    <div class="accordion-title">
      <a href="#tab1" class="ta-trigger1">Actualites</a>
    </div>
    <div class="content" id="ta-content1">
     <div class="bloc-content small">
      <h2 class="title-h2">
       Actualités
      </h2>
      <div class="filter-actus">
       Filtrer par
       <div class="form-item">
        <label for="rubrique">Rubriques</label>
        <span class="styled-select">
          <select>
            <option>Toutes</option>
            <option>Rubriques 1</option>
            <option>Rubriques 2</option>
          </select>
        </span>
       </div>
       <div class="form-item">
        <label for="rubrique">Archives</label>
        <span class="styled-select">
          <select>
            <option>Années</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
          </select>
        </span>
       </div>
      </div>
     
      <div class="list-actus-press">
       <div class="line">
        <div class="item-actus">
         <div class="item-actus__image">
          <a href="#"><img alt="" src="images/actu-press-1.jpg"></a>
         </div>
         <div class="item-actus__description">
           <p class="name-rubrique">Cinéma D'animation</p>
           <h3><a href="#">Les étudiants de GOBELINS réinventent le mythe de La Petite Robe Noire</a></h3>
           <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
         </div>
        </div>
        
        <div class="item-actus">
         <div class="item-actus__image">
          <a href="#"><img alt="" src="images/actu-press-2.jpg"></a>
         </div>
         <div class="item-actus__description">
           <p class="name-rubrique">Photographie</p>
           <h3><a href="#">Inauguration de la presse à Noisy</a></h3>
           <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
         </div>
        </div>
        
        
        <div class="item-actus">
         <div class="item-actus__image">
          <a href="#"><img alt="" src="images/actu-press-3.jpg"></a>
         </div>
         <div class="item-actus__description">
           <p class="name-rubrique">Cinéma D'animation</p>
           <h3><a href="#">Prix picto de la Jeune Photographie de Mode 2014</a></h3>
           <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
         </div>
        </div>         
       </div>
       
       <div class="line">
        <div class="item-actus">
         <div class="item-actus__image">
          <a href="#"><img alt="" src="images/actu-press-1.jpg"></a>
         </div>
         <div class="item-actus__description">
           <p class="name-rubrique">Cinéma D'animation</p>
           <h3><a href="#">Les étudiants de GOBELINS réinventent le mythe de La Petite Robe Noire</a></h3>
           <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
         </div>
        </div>
        
        <div class="item-actus">
         <div class="item-actus__image">
          <a href="#"><img alt="" src="images/actu-press-2.jpg"></a>
         </div>
         <div class="item-actus__description">
           <p class="name-rubrique">Photographie</p>
           <h3><a href="#">Inauguration de la presse à Noisy</a></h3>
           <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
         </div>
        </div>
        
        
        <div class="item-actus">
         <div class="item-actus__image">
          <a href="#"><img alt="" src="images/actu-press-3.jpg"></a>
         </div>
         <div class="item-actus__description">
           <p class="name-rubrique">Cinéma D'animation</p>
           <h3><a href="#">Prix picto de la Jeune Photographie de Mode 2014</a></h3>
           <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
         </div>
        </div>         
       </div>
       
       <div class="line">
        <div class="item-actus">
         <div class="item-actus__image">
          <a href="#"><img alt="" src="images/actu-press-1.jpg"></a>
         </div>
         <div class="item-actus__description">
           <p class="name-rubrique">Cinéma D'animation</p>
           <h3><a href="#">Les étudiants de GOBELINS réinventent le mythe de La Petite Robe Noire</a></h3>
           <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
         </div>
        </div>
        
        <div class="item-actus">
         <div class="item-actus__image">
          <a href="#"><img alt="" src="images/actu-press-2.jpg"></a>
         </div>
         <div class="item-actus__description">
           <p class="name-rubrique">Photographie</p>
           <h3><a href="#">Inauguration de la presse à Noisy</a></h3>
           <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
         </div>
        </div>
        
        
        <div class="item-actus">
         <div class="item-actus__image">
          <a href="#"><img alt="" src="images/actu-press-3.jpg"></a>
         </div>
         <div class="item-actus__description">
           <p class="name-rubrique">Cinéma D'animation</p>
           <h3><a href="#">Prix picto de la Jeune Photographie de Mode 2014</a></h3>
           <p class="intro"> Apprenez à maîtriser le flux de production : préparer votre matériel, prise de vues, le flash de reportage</p>
         </div>
        </div>         
       </div>
      </div>
     </div>
     
     <%= include('block-agenda-press') %>
     
    </div>
    <div class="accordion-title">
      <a href="#tab2" class="ta-trigger2">compétences</a>
    </div>
    <div class="content is-hidden" id="ta-content2">
      <ul>
        <li>Le dessin d’animation : croquis d’après modèle vivant, morphologie, perspective, analyse du mouvement, construction en volume.</li>
        <li>Le design de personnage et de décor.</li>
        <li>L’animation : l’analyse de l’acting, l’animation traditionnelle et l’animation numérique 2D et 3D.</li>
      </ul>
    </div>
    <div class="accordion-title">
      <a href="#tab3" class="ta-trigger3">les plus</a>
    </div>
    <div class="content is-hidden" id="ta-content3">
      <ul>
        <li>Le dessin d’animation : croquis d’après modèle vivant, morphologie, perspective, analyse du mouvement, construction en volume.</li>
        <li>Le design de personnage et de décor.</li>
        <li>L’animation : l’analyse de l’acting, l’animation traditionnelle et l’animation numérique 2D et 3D.</li>
        <li>La mise en scène : le langage cinématographique et dramaturgique, le storyboard, le layout, le montage.</li>
        <li>La recherche couleur et l’analyse de la lumière et des ambiances.</li>
        <li>Les techniques spécifiques à la chaîne 3D : layout, modélisation, set up, rendu.</li>
        <li>Les différentes techniques de prise de vue et d’intégration.</li>
      </ul>
    </div>
   </div>
  </div>
 </div>