<div class="tabs-accordion-press">
  <div class="l-row__inner clearfix">
   <ul class="tabs-title">
     <li class="js-contenttoggle--tabs-accordion" data-content-selector="#ta-content1" data-trigger-selector=".ta-trigger1">
       <a href="#tab1" class="ta-trigger1">Actualites</a>
     </li>
     <li class="js-contenttoggle--tabs-accordion" data-content-selector="#ta-content2" data-trigger-selector=".ta-trigger2">
       <a href="#tab2" class="ta-trigger2">Communiqués de presse</a>
     </li>
     <li class="js-contenttoggle--tabs-accordion" data-content-selector="#ta-content3" data-trigger-selector=".ta-trigger3">
       <a href="#tab3" class="ta-trigger3">Kit média</a>
     </li>
      <li class="js-contenttoggle--tabs-accordion" data-content-selector="#ta-content4" data-trigger-selector=".ta-trigger4">
       <a href="#tab4" class="ta-trigger4">Gobelins dans la presse</a>
     </li>
   </ul>
  </div>
  <div class="tabs-container">
   <div class="l-row__inner clearfix">
    <div class="accordion-title">
      <a href="#tab1" class="ta-trigger1">Actualites</a>
    </div>
    <div class="content" id="ta-content1">
     <div class="bloc-content small">
      <h2 class="title-h2">
       Actualités
      </h2>
      <%= include('block-filter-press') %>
      <%= include('block-actu-press') %>
     </div>
     <%= include('block-agenda-press') %>
     
    </div>
    <div class="accordion-title">
      <a href="#tab2" class="ta-trigger2">Communiqués de presse</a>
    </div>
    <div class="content is-hidden" id="ta-content2">
     <div class="bloc-content small">
       <h2 class="title-h2">
        Communiqués de presse
       </h2>
       <%= include('block-filter-press') %>
       <%= include('block-communique-press') %>
     </div>
     <%= include('block-agenda-press') %>
    </div>
    <div class="accordion-title">
      <a href="#tab3" class="ta-trigger3">Kit média</a>
    </div>
    <div class="content is-hidden" id="ta-content3">
     <div class="bloc-content">
       <h2 class="title-h2">Kit média</h2>
      <ul>
        <li>Le dessin d’animation : croquis d’après modèle vivant, morphologie, perspective, analyse du mouvement, construction en volume.</li>
        <li>Le design de personnage et de décor.</li>
        <li>L’animation : l’analyse de l’acting, l’animation traditionnelle et l’animation numérique 2D et 3D.</li>
        <li>La mise en scène : le langage cinématographique et dramaturgique, le storyboard, le layout, le montage.</li>
        <li>La recherche couleur et l’analyse de la lumière et des ambiances.</li>
        <li>Les techniques spécifiques à la chaîne 3D : layout, modélisation, set up, rendu.</li>
        <li>Les différentes techniques de prise de vue et d’intégration.</li>
      </ul>
     </div>
    </div>
    
    <div class="accordion-title">
     <a href="#tab4" class="ta-trigger4">Gobelins dans la presse</a>
    </div>
    <div class="content is-hidden" id="ta-content4">
     <div class="bloc-content small">
       <h2 class="title-h2"> Gobelins dans la presse</h2>
       <%= include('block-filter-press') %>
       <%= include('block-communique-press-gobelins') %>
     </div>
     <%= include('block-agenda-press') %>
    </div>
   </div>
  </div>
 </div>