<div class="slide-speaker">
  <div class="slide-speaker__photo"><img src="images/picture-contact.png" alt="photo"/></div>
  <p class="slide-speaker__name">Paul grimault</p>
  <p class="slide-speaker__info">Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. </p>
  <ul class="links">
    <li><a href="#">En savoir plus</a></li>
    <li><a href="#">Son profil LinkedIn</a><span class="icon-linkedin"></span></li>
  </ul>
</div>