<aside class="aside-gallery js-contentToggle--gallery__content">
  <div class="aside-gallery__container">
    <div class="aside-gallery__masonry js-masonry--aside-gallery">
      <img class="aside-gallery__item js-masonry--aside-gallery__item" src="images/img1.jpg">
      <img class="aside-gallery__item js-masonry--aside-gallery__item" src="images/img2.jpg">
      <img class="aside-gallery__item js-masonry--aside-gallery__item" src="images/img3.jpg">
      <img class="aside-gallery__item js-masonry--aside-gallery__item" src="images/img4.jpg">
      <img class="aside-gallery__item js-masonry--aside-gallery__item" src="images/img5.jpg">
      <img class="aside-gallery__item js-masonry--aside-gallery__item" src="images/img6.jpg">
      <img class="aside-gallery__item js-masonry--aside-gallery__item" src="images/img7.jpg">
      <img class="aside-gallery__item js-masonry--aside-gallery__item" src="images/img8.jpg">
      <img class="aside-gallery__item js-masonry--aside-gallery__item" src="images/img9.jpg">
      <img class="aside-gallery__item js-masonry--aside-gallery__item" src="images/img10.jpg">
      <img class="aside-gallery__item js-masonry--aside-gallery__item" src="images/img11.jpg">
      <img class="aside-gallery__item js-masonry--aside-gallery__item" src="images/img12.jpg">
    </div>
    <div class="aside-gallery__trigger js-contentToggle--gallery__trigger"></div>
  </div>
</aside>