<aside class="aside-gallery js-contentToggle--gallery__content">
  <div class="aside-gallery__container">
    <div class="aside-gallery__content">
      <div class="aside-gallery__header">
        <h2 class="aside-gallery__main-title"><img width="46" height="80" src="images/logo-gallery.png" alt="logo gobelins"/> Galerie des projets</h2>
        <a class="aside-gallery__discover" href="#">Découvrir la galerie gobelins <span class="icon-right-small"></span></a>
      </div>
      <div class="aside-gallery__masonry js-masonry--aside-gallery">
        <a class="aside-gallery__item aside-gallery__item--2 js-masonry--aside-gallery__item" href="#" title="titre image gallery">
          <img src="images/gallery/530x338-1.jpg" alt="titre image gallery">
        </a>
        <a class="aside-gallery__item aside-gallery__item--1 js-masonry--aside-gallery__item" href="#" title="titre image gallery">
          <img src="images/gallery/245x149-1.jpg" alt="titre image gallery">
        </a>
        <a class="aside-gallery__item aside-gallery__item--1 js-masonry--aside-gallery__item" href="#" title="titre image gallery">
          <img src="images/gallery/245x338-1.jpg" alt="titre image gallery">
        </a>
        <a class="aside-gallery__item aside-gallery__item--1 js-masonry--aside-gallery__item" href="#" title="titre image gallery">
          <img src="images/gallery/245x149-2.jpg" alt="titre image gallery">
        </a>
        <a class="aside-gallery__item aside-gallery__item--1 js-masonry--aside-gallery__item" href="#" title="titre image gallery">
          <img src="images/gallery/245x338-2.jpg" alt="titre image gallery">
        </a>
        <a class="aside-gallery__item aside-gallery__item--2 js-masonry--aside-gallery__item" href="#" title="titre image gallery">
          <img src="images/gallery/530x338-2.jpg" alt="titre image gallery">
        </a>
        <a class="aside-gallery__item aside-gallery__item--1 js-masonry--aside-gallery__item" href="#" title="titre image gallery">
          <img src="images/gallery/245x149-3.jpg" alt="titre image gallery">
        </a>
        <a class="aside-gallery__item aside-gallery__item--1 js-masonry--aside-gallery__item" href="#" title="titre image gallery">
          <img src="images/gallery/245x338-3.jpg" alt="titre image gallery">
        </a>
        <a class="aside-gallery__item aside-gallery__item--2 js-masonry--aside-gallery__item" href="#" title="titre image gallery">
          <img src="images/gallery/530x338-3.jpg" alt="titre image gallery">
        </a>
        <a class="aside-gallery__item aside-gallery__item--1 js-masonry--aside-gallery__item" href="#" title="titre image gallery">
          <img src="images/gallery/245x149-4.jpg" alt="titre image gallery">
        </a>
        <a class="aside-gallery__item aside-gallery__item--2 js-masonry--aside-gallery__item" href="#" title="titre image gallery">
          <img src="images/gallery/530x338-4.jpg" alt="titre image gallery">
        </a>
      </div>
      <div class="aside-gallery__footer">
        <button type="button" class="btn-higlight js-masonry--aside-gallery__more">
          Afficher les éléments suivants
        </button>
      </div>
    </div>
    <div class="aside-gallery__title">
      <span>Galerie des projets</span>
    </div>
    <div class="aside-gallery__trigger js-contentToggle--gallery__trigger"></div>
    <span class="btn-close aside-gallery__close js-contentToggle--gallery__trigger"></span>
  </div>
</aside>