.training-type{
  .breadcrumb{
    ul{
      li{
        color:$color__bg-white;
        
        &:first-child{
          padding-left:0;
        }
        
        a,
        span{
          color:inherit;
        }
        
      }
    }
  }
}

.breadcrumb{
  font-size:0.875rem;
  background:#fff;
  padding:0;
 
  
  @media screen and (min-width: $width__xl + 1px) {
    width:$width__xl;
    margin:0 auto;
  }
  
  @media screen and (min-width: $width__l + 1px) {
    width:auto;
    margin:0 auto;
  }
  
  @media screen and (max-width:$width__xs - 1px) {
   display:none;
  }

  ul{
    padding:17px 20px;
    width:$width__m;
    margin:0 auto;
    
    li{
      display:inline-block;
      margin-right:7px;
      position:relative;
      padding-left:24px;
    }
    li + li:before{
      content:"\2192";
      display:inline-block;
      position:absolute;
      left:0;
      top:-1px;
    }
  }
}
.training-animation .breadcrumb,
.training-graphic-design .breadcrumb,
.training-web-design .breadcrumb,
.training-photography .breadcrumb,
.training-game .breadcrumb,
.training-video-audio .breadcrumb,
.training-cross-media .breadcrumb{
  color:#fff;
  a{
    color:#fff;
  }
  .icons-home-gray{
    @extend .icons-home-white;
  }
}
