.breadcrumb{
  font-size:0.875rem;
  
  ul{
    padding:17px 20px;
    width:1140px;
    margin:0 auto;
    
    li{
      display:inline-block;
      margin-right:7px;
      position:relative;
      padding-left:24px;
    }
    li + li:before{
      content:"\2192";
      display:inline-block;
      position:absolute;
      left:0;
      top:-1px;
    }
  }
}
.training-animation .breadcrumb,
.training-graphic-design .breadcrumb,
.training-web-design .breadcrumb,
.training-photography .breadcrumb,
.training-game .breadcrumb,
.training-video-audio .breadcrumb,
.training-cross-media .breadcrumb{
  color:#fff;
  a{
    color:#fff;
  }
  .icons-home-gray{
    @extend .icons-home-white;
  }
}
