.main-menu--mobile{
  & > ul > li{
    text-transform:uppercase;
    font-size:1.125rem;
    margin-bottom:25px;
    font-family: $font__platform--light;
    
    & > a{
      color:#fff;
    }
  }
  .lev2{
    display:none;
    position:absolute;
    top:0;
    left:268px;
    right:0;
    width:500px;
    background:#fff;
    z-index:3;
    padding:30px 20px;
    color:$color__text-dark;
    
    .btn-close{
      position:absolute;
      top:20px;
      right:20px;
    }
    
    li{
      padding-top:20px;
      text-transform:none;
      font-family:$font__platform--medium;
      
      & > a{
        display:table;
        width:100%;
        table-layout:fixed;
        color:$color__text-dark;

        .rubric__img, 
        p{
          display:table-cell;
        }
        .rubric__img{
          width:245px;
          line-height:1rem;
        }
        p{
          padding-left:30px;
          vertical-align:middle;
          
        }
      }
    }
  }
}