.main-menu--search{
 width:$width__m;
 margin:0 auto;
 padding:25px 20px;
 text-align:left;
  
 @media screen and (max-width: $width__l) {
  width:auto;
 }
  
 label{
  text-transform:uppercase;
  float:left;
  width:45%;
  vertical-align:top;
  font-family: 'Platform-Medium';
  letter-spacing:1px;
  padding-top:10px;
  
  a{
   color:$color__blue-gobelins;
  }
  
  @media screen and (max-width: $width__m) {
   display:block;
   width:auto;
   font-family:$font__platform--medium;
   margin-bottom:25px;
  }
 }
 .form-item{
  margin-left:50%;
 }
 input[type="text"]{
  background:$color__bg-gray--light url(../images/icons/icon-search.png) no-repeat 15px center;
  border:1px solid $color__border-gray--light;
  height:46px;
  font-family:Arial;
  padding-left:45px;
  vertical-align:middle;
  width:400px;
  margin-right:15px;
  font-size:0.875rem;
  
  
  @media screen and (max-width: $width__m) {
   display:block;
   width:100%;
   margin-bottom:20px;
  }    
 }
 button{
  @extend .btn-higlight;
  vertical-align:middle;
  
  @media screen and (max-width: $width__m) {
    display:block;
    width:100%;
  }  
}
}