.main-menu--mobile{
  & > ul > li{
    text-transform:uppercase;
    font-size:1.125rem;
    margin-bottom:25px;
    font-family: $font__platform--light;
    letter-spacing:1px;
    
    & > a{
      color:#fff;
    }
  }
  .lev2{
    display:none;
    position:absolute;
    top:0;
    left:268px;
    right:0;
    width:500px;
    background:#fff;
    z-index:3;
    padding:30px 20px;
    color:$color__text-dark;
    
    @media screen and (max-width: 767px) {
      left:0;
      width:410px;
      padding:20px 40px;
    }
    
    .btn-close{
      position:absolute;
      top:20px;
      right:20px;
      
      @media screen and (max-width: 767px) {
        top:15px;
        right:15px;
      }
    }
    
    li{
      padding-top:20px;
      text-transform:none;
      font-family:$font__platform--medium;
      letter-spacing:1px;
      
      & > a{
        display:table;
        width:460px;
        table-layout:fixed;
        color:$color__text-dark;
        
        @media screen and (max-width: 767px) {
          width:330px;
        }

        .rubric__img, 
        p{
          display:table-cell;
        }
        .rubric__img{
          width:245px;
          line-height:1rem;
          
           @media screen and (max-width: 767px) {
            width:100px;
            overflow:hidden;
          }
        }
        p{
          padding-left:30px;
          vertical-align:middle;
        }
      }
    }
  }
}