<nav class="main-menu--desktop">  
  <ul>
    <li class="lev1 js-contentToggle--nav">
      <a href="#">L'ecole</a>
      <div class="lev2 js-contentToggle__content">
        <ul>
          <li class="js-contentToggle--nav-lev3">
            <a href="#">pour étudiants</a>
            <div class="lev3 js-contentToggle__content-lev3">
              <div class="list-rubric">
                <ul>
                  <li class="rubric__gobelins">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img1.jpg"/></span>
                      <p>Cinéma d’animation</p>
                    </a>
                  </li>
                  <li class="rubric__animation">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img2.jpg"/></span>
                      <p>Design graphique</p>
                    </a>
                  </li>
                  <li class="rubric__graphic-design">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img3.jpg"/></span>
                      <p>Design interactif/web</p>
                    </a>
                  </li>
                  <li class="rubric__web-design">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img4.jpg"/></span>
                      <p>Photographie</p>
                    </a>
                  </li>
                  <li class="rubric__photography">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img5.jpg"/></span>
                      <p>Jeu vidéo</p>
                    </a>
                  </li>
                  <li class="rubric__game">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img6.jpg"/></span>
                      <p>Vidéo et son</p>
                    </a>
                  </li>
                  <li class="rubric__video-audio">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img7.jpg"/></span>
                      <p>Communication imprimée & plurimédia</p>
                    </a>
                  </li>
                  <li class="rubric__cross-media">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img7.jpg"/></span>
                      <p>Communication imprimée & plurimédia</p>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="menu-extra">
                <ul>
                  <li><a href="#">Guide des métiers</a></li>
                  <li><a href="#">carrefour de l’orientation</a></li>
                  <li><a href="#">Vie étudiante</a></li>
                  <li><a href="#">Nous rencontrer</a></li>
                  <li><a href="#" class="btn-more">résultats d’admission</a></li>
                  <li><a href="#" class="btn-more">inscription</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="js-contentToggle--nav-lev3">
            <a href="#">pour professionnels</a>
            <div class="lev3 js-contentToggle__content-lev3">
              <div class="list-rubric">
                <ul>
                  <li class="rubric__gobelins">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img1.jpg"/></span>
                      <p>Cinéma d’animation</p>
                    </a>
                  </li>
                  <li class="rubric__animation">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img2.jpg"/></span>
                      <p>Design graphique</p>
                    </a>
                  </li>
                  <li class="rubric__graphic-design">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img3.jpg"/></span>
                      <p>Design interactif/web</p>
                    </a>
                  </li>
                  <li class="rubric__web-design">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img4.jpg"/></span>
                      <p>Photographie</p>
                    </a>
                  </li>
                  <li class="rubric__photography">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img5.jpg"/></span>
                      <p>Jeu vidéo</p>
                    </a>
                  </li>
                  <li class="rubric__game">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img6.jpg"/></span>
                      <p>Vidéo et son</p>
                    </a>
                  </li>
                  <li class="rubric__video-audio">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img7.jpg"/></span>
                      <p>Communication imprimée & plurimédia</p>
                    </a>
                  </li>
                  <li>
                    <%= include('menu-pro') %>
                  </li>
                </ul>
              </div>
              <%= include('menu__search') %>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="lev1 js-contentToggle--nav">
      <a href="#">Formations</a>
      <div class="lev2 js-contentToggle__content">
        <ul>
          <li class="js-contentToggle--nav-lev3">
            <a href="#">pour étudiants</a>
            <div class="lev3 js-contentToggle__content-lev3">
              <div class="list-rubric">
                <ul>
                  <li class="rubric__gobelins">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img1.jpg"/></span>
                      <p>Cinéma d’animation</p>
                    </a>
                  </li>
                  <li class="rubric__animation">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img2.jpg"/></span>
                      <p>Design graphique</p>
                    </a>
                  </li>
                  <li class="rubric__graphic-design">
                    <a href="#">
                      <span class="rubric__img"><img src="images/img3.jpg"/></span>
                      <p>Design interactif/web</p>
                    </a>
                  </li>
                  
                </ul>
              </div>
              <div class="menu-extra">
                <ul>
                  <li><a href="#">Guide des métiers</a></li>
                  <li><a href="#">carrefour de l’orientation</a></li>
                  <li><a href="#">Vie étudiante</a></li>
                  <li><a href="#">Nous rencontrer</a></li>
                  <li><a href="#" class="btn-more">résultats d’admission</a></li>
                  <li><a href="#" class="btn-more">inscription</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="lev1"><a href="#">Enterprises</a></li>
    <li class="lev1"><a href="#">Galerie</a></li>
    <li class="lev1"><a href="#">Innovation</a></li>
    <li class="lev1"><a href="#">international</a></li>
  </ul>
</nav>