<nav class="main-menu--mobile">
  <ul>
    <li><a href="#">L'école</a></li>
    <li class="js-contentToggle--nav-mob">
      <a href="#">Formations etudiantes</a>
      <div class="lev2 js-contentToggle__content">
        <ul>
          <li class="rubric__gobelins">
            <a href="#">
              <span class="rubric__img"><img src="images/img1.jpg"/></span>
              <p>Cinéma d’animation</p>
            </a>
          </li>
          <li class="rubric__animation">
            <a href="#">
              <span class="rubric__img"><img src="images/img2.jpg"/></span>
              <p>Design graphique</p>
            </a>
          </li>
          <li class="rubric__graphic-design">
            <a href="#">
              <span class="rubric__img"><img src="images/img3.jpg"/></span>
              <p>Design interactif/web</p>
            </a>
          </li>
          <li class="rubric__web-design">
            <a href="#">
              <span class="rubric__img"><img src="images/img4.jpg"/></span>
              <p>Photographie</p>
            </a>
          </li>
          <li class="rubric__photography">
            <a href="#">
              <span class="rubric__img"><img src="images/img5.jpg"/></span>
              <p>Jeu vidéo</p>
            </a>
          </li>
          <li class="rubric__game">
            <a href="#">
              <span class="rubric__img"><img src="images/img6.jpg"/></span>
              <p>Vidéo et son</p>
            </a>
          </li>
          <li class="rubric__video-audio">
            <a href="#">
              <span class="rubric__img"><img src="images/img7.jpg"/></span>
              <p>Communication imprimée & plurimédia</p>
            </a>
          </li>
          <li class="rubric__cross-media">
            <a href="#">
              <span class="rubric__img"><img src="images/img7.jpg"/></span>
              <p>Communication imprimée & plurimédia</p>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li><a href="#">formation professionnelles</a></li>
    <li><a href="#">entreprises</a></li>
    <li><a href="#">Galerie</a></li>
    <li><a href="#">Innovation</a></li>
  </ul>
</nav>