.list-trainings{
  background-color:$color__bg-gray--darck;
  padding:40px 0 35px;
  
  .search-message{
    margin:0 95px;
    
    @media screen and (max-width: 1024px) {
      margin:0 0 30px;
    }
  }
}  
.item-trainings{
  margin:0 95px 30px;
  background:#fff;
  border-top:2px solid $color__blue-gobelins;
  
  @media screen and (max-width: 1024px) {
    margin:0 0 30px;
  }
  
  .btn-like--mini{
    float:right;
  }
  .btn-higlight{
    display:block;
    margin-right:50px;
    
    @media screen and (max-width: 1024px) {
      margin-right:65px;
    }
  }
}
.block-slider--3 .item-trainings{
  margin:0;
  color:$color__text;
  
  .btn-like--mini{
    float:right;
    margin-right:20px;
  }
  .btn-higlight{
    display:block;
    margin:0 80px 0 20px;
    
  }
}
.item-trainings.training-animation{
  border-top:2px solid $color__training--animation;
  
  .item-trainings__type:before{
    background-color: $color__training--animation;
  }
}
.item-trainings.training-graphic-design{
  border-top:2px solid $color__training--graphic-design;
  
  .item-trainings__type:before{
    background-color: $color__training--graphic-design;
  }
}
.item-trainings.training-web-design{
  border-top:2px solid $color__training--web-design;
  
  .item-trainings__type:before{
    background-color: $color__training--web-design;
  }
}
.item-trainings.training-photography{
  border-top:2px solid $color__training--photography;
  
  .item-trainings__type:before{
    background-color: $color__training--photography;
  }
}
.item-trainings.training-game{
  border-top:2px solid $color__training--game;
  
  .item-trainings__type:before{
    background-color: $color__training--game;
  }
}
.item-trainings.training-video-audio{
  border-top:2px solid $color__training--video-audio;
  
  .item-trainings__type:before{
    background-color: $color__training--video-audio;
  }
}
.item-trainings.training-cross-media{
  border-top:2px solid $color__training--cross-media;
  
  .item-trainings__type:before{
    background-color: $color__training--cross-media;
  }
}

.item-trainings__bar-top{
  border-bottom:1px solid $color__border-gray--light;
  padding:10px 20px;
  text-transform:uppercase;
  font-family:$font__platform--medium;
  margin-bottom:15px;
  color:$color__text-dark;
}
.item-trainings__date{
  float:right;
  
  .icons-calendar{
    margin-right:10px;
    vertical-align:text-top;
  }
}
.item-trainings__type{
  position:relative;
  padding-left:25px;
  
  &:before{
    content:'';
    display:block;
    width:10px;
    height:10px;
    border-radius:50%;
    position:absolute;
    left:0;
    top:50%;
    margin-top:-5px;
    background-color:$color__blue-gobelins;
  }
}
.item-trainings__content{
  display:table;
  width:100%;
  table-layout:fixed;
  padding-bottom:25px;
}
.block-slider--3  .item-trainings__content{
  padding-bottom:20px;
}
.item-trainings__description,
.item-trainings__image{
  display:table-cell;
  padding:0 0 0 20px;
  vertical-align:top;
  
  @media screen and (max-width: 767px) {
    display:block;
    width:auto;
  }
}

.item-trainings__image{
  width:285px;
  padding:5px 20px;
  
  @media screen and (max-width: 767px) {
    width:auto;
  }
  
  img{
    display:block;
    width:100%;
    height:auto;
    margin-bottom:20px;
    
    @media screen and (max-width: 767px) {
      display:none;
    }
  }
}
.item-trainings__description{
  font-family:$font__neuzeit;
  
  .title{
    font-family:$font__platform--medium;
    font-size:1.375rem;
    color:$color__text-dark;
  }
  .location{
    margin-bottom:5px;
  }
  .info{
    border-top:1px solid $color__border-gray--light;
    padding-top:15px;
    margin-top:18px;
  }
  .info__title{
    text-transform:uppercase;
    font-family:$font__platform--medium;
    color:$color__text-dark;
    margin-bottom:5px;
  }
  .info__detailes{
    @extend .ul-styled;
  }
}
.block-slider--3 .item-trainings__description{
  display:block;
  padding:0 20px;
  height:23rem;
  overflow:hidden;
  
  .title{
    font-size:1.125rem;
  }
  
  .info{
    margin:18px -20px 0;
    padding:15px 20px 0;
    height:13rem;
  }
  
  .summary{
    height:9.5rem;
    overflow:hidden;
  }
}

