<div class="item-trainings training-web-design">
  <div class="item-trainings__bar-top clearfix">
    <p class="item-trainings__date"><span class="icons-calendar"></span>1 ans</p>
    <p class="item-trainings__type">cinéma d’animation</p>
  </div>
  <div class="item-trainings__content">
    <div class="item-trainings__description">
      <div class="summary">
        <h3 class="title">Licence professionnelle Techniques et activités de l’image et du son spécialité Gestion de la production audiovisuelle</h3>
        <p>Temps plein, alternance</p>
      </div>
      <div class="info">
        <p class="info__title"><span class="icons-public"></span>Public concerné</p>
        <ul class="info__detailes">
          <li>Bac +2 min. en cinéma d’animation et/ou expérience professionnelle dans ce secteur</li>
          <li>Bac +4 min. en cinéma d’animation et/ou expérience professionnelle dans ce secteur</li>
        </ul>
      </div>
    </div>
    <div class="clearfix">
      <a href="#" class="btn-like--mini"><span class="icon-heart"></span></a>
      <a href="#" class="btn-higlight">voir la formation</a>
    </div>
  </div>
</div>