<div class="item-trainings training-photography">
  <div class="item-trainings__bar-top clearfix">
    <p class="item-trainings__date"><span class="icons-calendar"></span>4 ans</p>
    <p class="item-trainings__type">Étudiant</p>
  </div>
  <div class="item-trainings__content">
    <div class="item-trainings__description">
      <div class="summary">
        <h3 class="title">Entrée directe en 2e cycle Concepteur et réalisateur de films d’animation</h3>
        <p>Ce second cycle permet d'intégrer le cursus de GOBELINS en 3ème année afin d'approfondir ses connaissances, notamment en matière de réalisation et de storytelling.</p>
      </div>
      <div class="info">
        <p class="info__title"><span class="icons-public"></span>Public concerné</p>
        <ul class="info__detailes">
          <li>Agé de 25 ans maximum au 1er septembre 2015</li>
          <li>Titulaire au minimum d'un Bac Général ou Technologique</li>
        </ul>
      </div>
    </div>
    <div class="clearfix">
      <a href="#" class="btn-like--mini"><span class="icon-heart"></span></a>
      <a href="#" class="btn-higlight">voir la formation</a>
    </div>
  </div>
</div>